

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
}

h2{
font-weight: bold;

}
a:link {
    text-decoration: none!important;
    color: black;
} /* Link no visitado*/
a:visited {
    text-decoration: none!important;
    color: black;
} /*Link visitado*/
a:active {
    text-decoration: none!important;
    color: black;
} /*Link activo*/
a:hover {
    text-decoration: none!important;
    color: black;
} /*Mause sobre el link*/
.browserupgrade{ /*estilo de aviso que el navegador esta obsoleto*/
    background-color: red;
    font-size: 18px;

}

#myCarousel{
    margin-top: 3px;
    margin-bottom: 3px;
}
.navbar.navbar-inverse {
    background-color: #c72bc7;
    background-image:linear-gradient(to bottom,#5c1666 0,#c72bc7 100%);
}
.general{

    box-shadow: 4px 4px 10px #999;
}

.carousel-caption h1{
    font-size: 40px;
    line-height: 60px;
    /*height: 70px;*/
    background: rgba(0, 0, 0, 0.6);

}
/*.navbar-inverse {
    background-color: #990099;
    border-color: #080808;
}*/

.inicio_jumbotron {
    background-color: #cddc39;
    color: #F0F0F0;
    margin-bottom:0px;
    padding: 10px 15px;
}

.registro_jumbotron {
    background-color: #DBE772;
    padding-right: 0px;
    padding-left: 0px;
}
.registro_jumbotron p{
    font-size: 14px;
    color: #360;
}

.texto_inicio{
  font-size: 16px !important;
  color: #fff;

}

.columna_inicio{

  text-align: justify;
}
/*.navbar.navbar-default {
        background-color: #489324;
        background-image: linear-gradient(to bottom,#66CC33 0,#489324 100%);
 }
*/

/*estilo de los controles del carusel*/

/*.carousel-control.left, .carousel-control.right {
        background-image: none;
}

.carousel {
        background: url(http://placehold.it/620x420/ff9900);
        position: relative;
    }
*/
.page-header {
    margin: 0px;
}

.pie_gestor1 {
    float: left;
    width: 300px;
}
.pie_gestor2 {
    float: right;
    width: 400px;
}
.pie_gestor {
    /* */
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #CCC;
    border-right-color: #CCC;
    border-bottom-color: #CCC;
    border-left-color: #CCC;
    height: 60px;
    padding: 10px;
    /*    margin-right: 12px;
        margin-left: 12px;*/
    margin-top: 40px;
    margin-bottom: 10px;
}
.pie_gestor2 a img {
    margin: 0px;
    padding: 0px;
    float: right;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
}


.navbar-nav li a {
    padding-top: 8px;
    padding-right: 10px;
    padding-bottom: 8px;
    padding-left: 10px;
}

#modal-login .modal-header  {
    background-color: #cddc39;
    background-image:linear-gradient(to bottom,#cddc39 0,#9FAD1F 100%);
}
.modal-header.inscripcion{
    background-color: #cddc39;
    background-image:linear-gradient(to bottom,#cddc39 0,#9FAD1F 100%);
}

#modal-contactar .modal-header  {
    background-color: #cddc39;
    background-image:linear-gradient(to bottom,#cddc39 0,#9FAD1F 100%);
}
/*#modal-login .modal-body  {
        background-color: cddc39;
        }*/

/*Formulario*/

fieldset {
    min-width: 5px;
    padding: 10px;
    /* margin: 5px;*/
    border: 1px solid #999;
}


label{
    color: green;

}

.selector select{
    background: transparent;
    width: 268px;
    padding: 5px;
    font-size: 16px;
    line-height: 1;
    border: 0;
    width: 100%;
    border-bottom: 1px;
    border-color: green;
    border-bottom-style: solid;
    border-radius: 0;
    height: 34px;
    margin-top: 21px;
    /*-webkit-appearance: none;*/
}

input[type="submit"] {
    margin-top: 30px;
}
input[type=date], input[type=datetime-local], input[type=email], input[type=number], input[type=password], input[type=search-md], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], textarea.md-textarea {

    border-bottom: 1px solid green;

}

.errorFormClass ul li {
    background-color: #e68b1c;
    padding-left: 5px;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    border: 0px solid #000000;
    -webkit-box-shadow: 5px 4px 4px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 4px 4px 0px rgba(0,0,0,0.75);
    box-shadow: 5px 4px 4px 0px rgba(0,0,0,0.75);
}

.check{
    height: 30px;
}

input[type=checkbox].css-checkbox {
    /*position:absolute; */
    z-index:-1000;
    left:-1000px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height:30px;
    width:30px;
    margin:-1px;
    padding:0;
    border:0;
}



.classAcepto{
    background-color: #f5f5f5;
    padding-bottom: 10px;
    padding-right: 10px;
    margin-left: 15px;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    border: 1px solid #c7c1c7;

}

.form-control:disabled, .form-control[readonly] {
    background-color: #CCC;
    border-bottom: 1px solid #e0e0e0;
    color: #666;
}

/*  fin form */

/*estilo botones*/
.btn{
    margin: 0px;

}
.btn-simple{
    margin: 6px;
}

.btn-xs{
    padding: 1px 10px;
}

.waves-button-input{
    padding: 1px 10px;
}

/*fin estilo botones*/
.caja{
    background-color: #DBE772;
    padding: 15px;
}
.formPosicion{
    margin-left: 50px;
    margin-top: -10px;
    margin-bottom: 10px;
}

#formularioRegistro .has-error .control-label,
#formularioRegistro .has-error .help-block,
#formularioRegistro .has-error .form-control-feedback {
    color: #f39c12;
}


.alertPeq{
    padding: 5px;
    font-size: 80%;

}

.gracias{
height: 230px;

}

/*Estilos administración*/
.caja_show{
    padding: 30px;
    border: solid #999 1px;

}

/*estilos para la paginación*/

.sortable {
    position: relative;
}


.sortable:before {
    content: "\f0dc";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    /*--adjust as necessary--*/
    color: #000;
    font-size: 16px;
    padding-right: 0.5em;
    position: absolute;
    top: -3px;
    left: -15px;
}

.asc {
    position: relative;
}


.asc:before {
    content: "\f0de";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    /*--adjust as necessary--*/
    color: red;
    font-size: 16px;
    padding-right: 0.5em;
    position: absolute;
    top: -2px;
    left: -15px;
}

.desc {
    position: relative;
}


.desc:before {
    content: "\f0dd";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    /*--adjust as necessary--*/
    color: red;
    font-size: 16px;
    padding-right: 0.5em;
    position: absolute;
    top: -4px;
    left: -15px;
}

/* ajustar el diseño de los grupos de formulario con glyphicon*/
.input-group-addon{
    /*  border-bottom: 1px solid #360;*/
    background-color: #fff;
    padding-bottom: 0px;
    padding-top: 30px;

}

span#show-hide-passwd {
    cursor: pointer;
}

.ayudaEnvioCorreo{
     padding: 20px;
}

.panelAyuda{
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
}
