

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif; 
}
a:link {
    text-decoration: none!important;
      color: black;
} /* Link no visitado*/
a:visited {
   text-decoration: none!important;
    color: black;
} /*Link visitado*/
a:active {
    text-decoration: none!important;
    color: black;
} /*Link activo*/
a:hover {
    text-decoration: none!important;
    color: black;
} /*Mause sobre el link*/ 

.browserupgrade{ /*estilo de aviso que el navegador esta obsoleto*/
    background-color: red;
    font-size: 18px;
    
}
#myCarousel{
    margin-top: 3px;
    margin-bottom: 3px;
}
.navbar.navbar-inverse {
    background-color: #c72bc7;
    background-image:linear-gradient(to bottom,#5c1666 0,#c72bc7 100%);
}
.general{

    box-shadow: 4px 4px 10px #999;
}

.carousel-caption h1{
   font-size: 40px;
   line-height: 60px;
   height: 70px;
   background: rgba(0, 0, 0, 0.6);
    
}
/*.navbar-inverse {
    background-color: #990099;
    border-color: #080808;
}*/

.inicio_jumbotron {
    background-color: #cddc39;
    color: #F0F0F0;
    margin-bottom:0px;
    padding: 10px 15px;
}

.registro_jumbotron {
    background-color: #DBE772;
    padding-right: 0px;
    padding-left: 0px;
}
.registro_jumbotron p{
    font-size: 14px;
    color: #360;	
}
/*.navbar.navbar-default {
        background-color: #489324;
        background-image: linear-gradient(to bottom,#66CC33 0,#489324 100%);
 }
*/

/*estilo de los controles del carusel*/

/*.carousel-control.left, .carousel-control.right {
        background-image: none;
}

.carousel {
        background: url(http://placehold.it/620x420/ff9900);
        position: relative;
    }
*/
.page-header {
    margin: 0px;
}

.pie_gestor1 {
    float: left;
    width: 300px;
}
.pie_gestor2 {
    float: right;
    width: 400px;
}
.pie_gestor {
    /* */
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #CCC;
    border-right-color: #CCC;
    border-bottom-color: #CCC;
    border-left-color: #CCC;
    height: 60px;
    padding: 10px;
    /*    margin-right: 12px;
        margin-left: 12px;*/
    margin-top: 40px;
    margin-bottom: 10px;
}
.pie_gestor2 a img {
    margin: 0px;
    padding: 0px;
    float: right;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
}


.navbar-nav li a {
    padding-top: 8px;
    padding-right: 10px;
    padding-bottom: 8px;
    padding-left: 10px;
}

#modal-login .modal-header  {
    background-color: #cddc39;
    background-image:linear-gradient(to bottom,#cddc39 0,#9FAD1F 100%);
}
.modal-header.inscripcion{
    background-color: #cddc39;
    background-image:linear-gradient(to bottom,#cddc39 0,#9FAD1F 100%);
}

#modal-contactar .modal-header  {
    background-color: #cddc39;
    background-image:linear-gradient(to bottom,#cddc39 0,#9FAD1F 100%);
}
/*#modal-login .modal-body  {
        background-color: cddc39;
        }*/

/*Formulario*/

fieldset {
    min-width: 5px;
    padding: 10px;
    /* margin: 5px;*/
    border: 1px solid #999;
}


.md-form label {
    font-size: 0.8rem;
}
.md-form .prefix {
    font-size: 1.2rem;
    padding-top: 10px;
    width: calc(100% - 5rem)
}
.md-form  .form-control {
    font-size: 0.7rem;
    line-height: 1.5;
    background-image: none;
    border-radius: 0.3px;
    margin-top: .2rem;
    margin-bottom: 1rem;
    padding: 10px;
    margin-left: 2.3rem;

}
.md-form .prefix~input, .md-form .prefix~textarea {
    width: calc(100% - 5rem);

}


.md-imput-form select {

    width: calc(100% - 3rem);
}

.md-imput-form{
    font-size: 16px;	
}

.md-imput-form .form-control {
    font-size: 0.8rem;
    line-height: 1.9px;
    margin-left: 2.3rem;
}
.md-imput-form label {
    font-size: 0.8rem;
    margin-left: 2.2rem;


}
.md-data-form{
    font-size: 0.8rem;
    line-height: 1.9px;
}
.md-data-form .form-control {
    font-size: 0.8rem;
    line-height: 1.9px;
}

textarea.form-control.disable {
    background-color: #eee;
    opacity: 1;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.md-form .prefix.active {
    color: #66CC33;
}

/*  fin form */

/*estilo botones*/
.btn{
    margin: 0px;

}
.btn-simple{
    margin: 6px;
}

.btn-xs{
    padding: 1px 10px;  
}

.waves-button-input{
    padding: 1px 10px; 
}

/*fin estilo botones*/
.caja{
    background-color: #DBE772;
    padding: 15px;
}
.formPosicion{
    margin-left: 50px;
    margin-top: -10px;
    margin-bottom: 10px;
}

#formularioRegistro .has-error .control-label,
#formularioRegistro .has-error .help-block,
#formularioRegistro .has-error .form-control-feedback {
    color: #f39c12;
}


.alertPeq{
    padding: 5px; 
    font-size: 80%;	    

}

/*Estilos administración*/
.caja_show{
    padding: 30px;
    border: solid #999 1px;

}

/*estilos para la paginación*/
.asc{
font-weight:bold;
}
.desc{
 font-weight:bold;
}

/* estilos del formulario*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.middle{
  width: 460px;
  margin: 0 auto;
}

h1{
  margin: 50px 0 0 0;
  color: #fff;
  font-family: 'Indie Flower', cursive;
  font-size: 48px;
  font-weight: normal;
  text-align: center;
}

/*Fancy inputs*/

#fancy-inputs{
  float: left;
  width: 100%;
  margin: 0 0 50px 0;
  label.input{
    float: left;
    width: 460px;
    height: 42px;
    margin: 50px 0 0 0;
    position: relative;
    clear: both;
    span{
      width: 100%;
      height: 40px;
      line-height: 40px;
      position: absolute;
      left: 0;
      cursor: text;
      span{
        position: absolute;
        top: 0;
        z-index: 1;
        font-family: 'Indie Flower', cursive;
        font-size: 22px;
        color: #fff;
        text-indent: 10px;
        transition: 0.3s;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
      }
      &:before{
        content: '';
        width: 0%;
        height: 3px;
        background-color: #2C3E50;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 99;
        transition: 0.3s;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
      }
      &:after{
        content: '';
        width: 0%;
        height: 3px;
        background-color: #2C3E50;
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 99;
        transition: 0.3s;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
      }
    }
  }

  input{
    float: left;
    width: 460px;
    height: 40px;
    padding: 0 10px;
    border: 0;
    border-bottom: 3px solid #fff;
    background-color: transparent;
    color: #fff;
    font-family: 'Indie Flower', cursive;
    font-size: 22px;
    position: relative;
    z-index: 99;
    &:focus{
      outline: 0;
    }
    &.white{
      background-color: #E74C3C;
    }
  }

  input:focus + span{
    span{
      cursor: initial;
      position: absolute;
      top: -35px;
      color: #2C3E50;
    }
    &:before{
      width: 50%;
    }
    &:after{
      width: 50%;
    }
  }

  span.fixed{
    span{
      top: -35px;
    }
  }
}

/* Fancy radio btns*/

#fancy-radio{
  float: left;
  width: 100%;
  margin: 0 0 30px 0;
  label.radio{
    float: left;
    width: auto;
    line-height: 30px;
    margin: 0 0 10px 0;
    color: #fff;
    font-family: 'Indie Flower', cursive;
    font-size: 22px;
    cursor: pointer;
    position: relative;
    clear: both;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    &:before{
      content: '';
      float: left;
      width: 29px;
      height: 29px;
      margin: 0 5px 0 0;
      background-color: #fff;
      border-radius: 100%;
      font-size: 22px;
      text-indent: 40px;
    }
    &:after{
      content: '';
      width: 5px;
      height: 5px;
      background-color: #2C3E50;
      border-radius: 100%;
      position: absolute;
      top: 12px;
      left: 12px;
      opacity: 0;
      transition: 0.2s;
      -webkit-transition: 0.2s;
      -moz-transition: 0.2s;
    }
    &.selected{
      &:after{
        width: 15.5px;
        height: 15.5px;			
        top: 7px;
        left: 7px;
        opacity: 1;
      }
    }
    &:hover{
      text-indent: 5px;
    }
  }
}

/* Buttons */

.btn{
  float: left;
  width: 100%;
  height: 50px;
  line-height: 50px;
  margin: 0 0 50px 0;
  background-color: #2C3E50;
  color: #fff;
  font-family: 'Indie Flower', cursive;
  font-size: 22px;
  text-decoration: none;
  text-align: center;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  &:hover{
    background-color: #374b60;
  }
}

/* Final estilos del formulario*/