<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <!-- BASICS -->
        <meta charset="utf-8">    
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block tittle %}  {% endblock %} Administración gestor de censos</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="nombre-del-icono.png" />
        <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('assets/images/touch-icon-iphone.png')}}" />
        <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('assets/images/touch-icon-iphone2.png')}}" />
        <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('assets/images/touch-icon-ipad.png')}}" />
        <link rel="icon"  type="image/png"  href="{{ asset('assets/images/icono.png')}}"> 

        
            <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/isotope.css')}}" media="screen" />
            <link rel="stylesheet" type="text/css" href="{{ asset('assets/fancybox/jquery.fancybox.css')}}" type="text/css" media="screen" /> 
            <link rel="stylesheet" type="text/css" href="{{ asset('assets/bootstrap/css/bootstrap.css')}}">
            <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/bootstrap.cosmo.min.css')}}">
            <link rel="stylesheet" type="text/css" href="{{ asset('assets/mdb/css/mdb.min.css')}}">
            <link rel="stylesheet" type="text/css" href="{{ asset('assets/font-awesome-4.7.0/css/font-awesome.min.css')}}">   
            <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/estilos.css')}}"> 
            <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/menuAdmin.css')}}"
            {% block estilos %}
            {% endblock %}


            {% block css %}  {% endblock %} 
            <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
            <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
            <!--[if lt IE 9]>
              <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
              <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
            <![endif]-->
    </head>

    <body>
        <!--[if lt IE 8]>
    <p class="browserupgrade">Esta usando un navegador <strong>obsoleto</strong>.Por favor <a href="http://browsehappy.com/">actualice su navegador</a> para tener una experiencia completa en este sitio.</p>
<![endif]-->

        <!-- menu de administracion -->
 {{ include('BackendBundle:Layout:menuAdmin.html.php') }}
     
        {% if app.user != null%}
        {% endif%}       
        <!-- / fin menu de administracion -->        
        <div class="container general">
            <!-- cabecera
                ================================================== -->
            <div class="page-header">
                <img src="{{ asset('assets/images/cabecera.png')}}" class="img-responsive" alt="Logo "/>
            </div>
            <!-- END cabecera
            ================================================== -->



            {% for type, messages in app.session.flashbag.all() %} 
                {#sacamos los mensages de error o que se ha realizado la acción#}
                <div class= "alert alert-{{type}}"> 
                    {% for message in messages %}
                        {{message}} 
                    {% endfor %}
                </div>
            {% endfor %}
            <br/>
            {% block body %}           {% endblock %}
            {% block content %}        {% endblock %}

            {% block footer %} 
                <footer>
                    <div  class="pie_gestor"> 
                        <div class="row">
                            <div class="col-md-4 ">  Gestor de censos v 0.0</div>
                            <div class="col-md-4 "></div>
                            <div class="col-md-4 "> 
                                <a href="http://www.demokratian.org" target="_blank"><img src="{{ asset('assets/images/logo_pie.png')}}" class="img-responsive "  alt="DEMOKRATIA | plataforma de votaciones"  /></a>
                            </div>

                        </div>
                    </div>
                </footer>
            {% endblock %}
        </div>       


        <script src="{{ asset('assets/js/modernizr-2.8.3-respond-1.4.2.min.js')}}"></script>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{ asset('assts/js/jquery-3.1.1.min.js')}}"><\/script>')</script>
        <script src="{{ asset('assets/mdb/js/popper.min.js')}}"></script>
        <script src="{{ asset('assets/bootstrap/js/bootstrap.min.js')}}"></script>
        <script src="{{ asset('assets/mdb/js/mdb.min.js')}}"></script>
        <script type="text/javascript">
                var URL = "{{app.request.getSchemeAndHttpHost()}}{{subdirectorio}}";
        </script>

        <script src="{{ asset('assets/js/menuAdmin.js')}}"></script>

        {% block js %}
        {% endblock%}



    </body>
</html>