<!doctype html>

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>
            {% block title %} Blog con Symfony3 {% endblock %}
        </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="nombre-del-icono.png" />
        <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('assets/images/touch-icon-iphone.png')}}" />
        <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('assets/images/touch-icon-iphone2.png')}}" />
        <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('assets/images/touch-icon-ipad.png')}}" />
        <link rel="icon"  type="image/png"  href="{{ asset('assets/images/icono.png')}}"> 

        {% block estilos %}
            <link rel="stylesheet" href="{{ asset('assets/bootstrap/css/bootstrap.css')}}">
            <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.cosmo.min.css')}}">
            <link rel="stylesheet" href="{{ asset('assets/css/estilos.css')}}">
            <link rel="stylesheet" href="{{ asset('assets/mdb/mdb.min.css')}}">
            <link rel="stylesheet" href="{{ asset('assets/font-awesome-4.7.0/css/font-awesome.min.css')}}">    
        {% endblock %}

        {% block js %}
            <!-- -->
            <script src="{{ asset('assets/js/modernizr-2.8.3-respond-1.4.2.min.js')}}"></script>
            <script type="text/javascript">   
                // creamos una variable para tener en todas nuestros trabajos  con javascript
                //en produccion seria 
                //var URL= "{{app.request.getSchemeAndHttpHost()}}"  ;
                var URL = "{{app.request.getSchemeAndHttpHost()}}/gestor_censos/web/app_dev.php";
            </script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
            <script>window.jQuery || document.write('<script src="{{ asset('assts/js/jquery-3.1.1.min.js')}}"><\/script>')</script>
            <script src="{{ asset('assets/bootstrap/js/bootstrap.min.js')}}"></script>
            <script src="{{ asset('assets/mdb/mdb.min.js')}}"></script>
        {% endblock %}
   


  </head>

<body>
    <div class="container general">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->


<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html" title="Ir a la pagina de inicio">gestor censos</a>
            <a href="index.html" class="navbar-brand" title="Ir a la pagina de inicio"><i class="fa fa-home fa-fw"></i></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav pull-right">
                                    <li><a href="#modal-login"  data-toggle="modal" title="Acceso Administradores de la aplicación"><i class="fa fa-user fa-fw" aria-hidden="true"></i>Acceso Administradores</a></li>
                    <li class="divider"></li>
                                    
                <li><a href="https://twitter.com/" target="_blank" class="btn btn-simple blue btn_social">
                        <i class="fa fa-twitter"></i></a>
                </li>
                <li><a href="https://www.facebook.com/" target="_blank" class="btn btn-simple blue darken-2 btn_social">
                        <i class="fa fa-facebook-square"></i></a>
                </li>
                <li><a href="https://www.instagram.com/" target="_blank" class="btn btn-simple  blue darken-2 lighten-2 btn_social">
                        <i class="fa fa-instagram"></i></a>
                </li>
                <li><a data-toggle="modal" href="#modal-contactar" class="btn btn-simple lime btn-just-icon"><i class="fa fa-envelope btn_social"></i> Contactar</a></li>

                            <!--<li class="active"><a href="#"><i class="fa fa-credit-card"></i> Hacer una donación</a></li>-->

            </ul>
        </div><!--/.navbar-collapse -->
    </div>
</nav>


                <!-- Carousel
        ================================================== -->
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <br/>                <!-- Indicators -->
                <ol class="carousel-indicators">
                   
                </ol>
                <div class="carousel-inner" role="listbox">
                  
                    
              
                </div>
                
                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div><!-- /.carousel -->
        <!-- Main jumbotron for a primary marketing message or call to action -->
       
        {% block content %} Content default {% endblock %}
        
        
        <div class="jumbotron inicio_jumbotron">
            <div class="container">
                 <h2>primera</h2>                <p>texto 1
<br/>

<br/>

<br/>

<br/><br/>

<br/>

<br/>

<br/></p>                <p><a class="btn btn-primary btn-lg" href="registro.php" role="button">Es la primera vez y quiero Registrarme</a>
                    <a class="btn btn-default btn-lg pull-right" href="recupera.php" role="button">Empece mi resgistro y quiero terminarlo</a></p>
            </div>
        </div>


        <!--  columns -->
        <div class="row">
            <div class="col-md-4">
                texto 2
<br/>
<br/>

<br/>

<br/>

<br/>

<br/>
texto 2
<br/>
<br/><br/>

<br/>

<br/>

<br/>

<br/>

<br/>

<br/>

<br/>            </div>
            <div class="col-md-4">
                texto 3
<br/>

<br/>

<br/>

v

<br/>


<br/>

<br/>
texto 3
<br/>

<br/><br/>

<br/>

<br/>

<br/>

<br/>

v

<br/>


<br/>

<br/>
            </div>
            <div class="col-md-4">
                texto 4

<br/>

<br/>


<br/>
ll
<br/>

<br/>

<br/>
<br/><br/>

<br/>

<br/>

<br/>
texto 4

<br/>

<br/>


<br/>
ll
<br/>

<br/>

<br/>
<br/>            </div>
        </div>
        <!--  /columns -->

        <!--Body-->
        <!--metemos invisible  estos dos imput porque sino dan luego error-->
        <!-- <div class="hide">
    
            <input type="text"  class="form-control">
            <input type="password"  class="form-control">
    
        </div>
        -->



            <footer>
        <div  class="pie_gestor"> 
            <div class="row">
                <div class="col-md-4 ">  Gestor de censos v 0.0</div>
                <div class="col-md-4 "></div>
                <div class="col-md-4 "> 
                    <a href="http://www.demokratian.org" target="_blank"><img src="web/theme/img/logo_pie.png" class="img-responsive "  alt="DEMOKRATIA | plataforma de votaciones"  /></a>
                </div>

            </div>
        </div>
    </footer>

    </div>          
            
            
            
            
    </body>
</html>
