{% extends "BackendBundle:Layout:adminLayout.html.twig"%}

{% block body %}
    <h1>Provincias list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Provincia</th>
                <th>Especial</th>
                <th>Correonotificaciones</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for provincium in provincias %}
            <tr>
                <td><a href="{{ path('provincia_show', { 'id': provincium.id }) }}">{{ provincium.id }}</a></td>
                <td>{{ provincium.provincia }}</td>
                <td>{{ provincium.especial }}</td>
                <td>{{ provincium.correoNotificaciones }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('provincia_show', { 'id': provincium.id }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
