{% extends "BackendBundle:Layout:adminLayout.html.twig"%}
{% block body %}
    <h1>Provincium</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ provincium.id }}</td>
            </tr>
            <tr>
                <th>Provincia</th>
                <td>{{ provincium.provincia }}</td>
            </tr>
            <tr>
                <th>Especial</th>
                <td>{{ provincium.especial }}</td>
            </tr>
            <tr>
                <th>Correonotificaciones</th>
                <td>{{ provincium.correoNotificaciones }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('provincia_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
