{% extends "AppBundle:Layout:layout.html.twig"%}

 {% block estilos %}
       <!-- <meta charset="{{ _charset }}" />-->
     {% endblock %}    
        {% block title %} An Error Occurred: {{ status_text }}{% endblock %}
            
    
     
     {% block carusel %} 
    <div class="page-header">
        <img src="{{ asset('assets/images/cabecera.png')}}" class="img-responsive" alt="Logo "/>
    </div>
{% endblock %}
{% block content %} 
        
        <h1>Oops! Ha ocurrido un error </h1>
        <h2>El servidor esta dando un error "{{ status_code }} {{ status_text }}".</h2>

        <div>
            <p>Lo sentimos pero significa que no se ha encontrado la pagina solicitada. </p>
            <p>Quizas sea una pagina antigua que ya no existe, o quizas la ha escrito mal</p>
            
        </div>
        
        <br/>
        <br/>
        <br/>
        <br/>
   
  {% endblock %}      