{% extends "AppBundle:Layout:layout.html.twig"%}

 {% block estilos %}
       <!-- <meta charset="{{ _charset }}" />-->
     {% endblock %}    
        {% block title %} An Error Occurred: {{ status_text }}{% endblock %}
            
    
     
     {% block carusel %} 
    <div class="page-header">
        <img src="{{ asset('assets/images/cabecera.png')}}" class="img-responsive" alt="Logo "/>
    </div>
{% endblock %}
{% block content %} 
        
        <h1>Oops! An Error Occurred</h1>
        <h2>The server returned a "{{ status_code }} {{ status_text }}".</h2>

        <div>
            Something is broken. Please let us know what you were doing when this error occurred.
            We will fix it as soon as possible. Sorry for any inconvenience caused.
        </div>
   
  {% endblock %}      