{% extends "BackendBundle:Layout:adminLayout.html.twig"%}


{% block body %}
    <a href="{{ path('categories_index') }}" class="btn btn-info btn-xs" >Volver a la lista de categorias</a>
    <h1>Modificar categoria</h1>

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            {{ form_start(edit_form) }}
            {{ form_widget(edit_form) }}
            <input type="submit" value="Modificar" class=" btn btn-success btn-xs separador pull-right"/>
            {{ form_end(edit_form) }}

            <br/>
            <br/>

            {% if (app.user.id is defined )%}
                {%if (app.user.role =="ROLE_SUPER_ADMIN" )%}
                    {% if category.id >= 10 %}
                    {{ form_start(delete_form) }}
                    <input type="submit" value="Borrar" class="btn btn-danger btn-xs pull-right" onclick="return confirm('¿Esta Ud seguro de quere borrar este registro?')" />
                    {{ form_end(delete_form) }}
                    {% endif %}
                {% endif %}
            {% endif %}


        </div>
        <div class="col-md-2"></div>
    </div>
{% endblock %}
