{% extends "BackendBundle:Layout:adminLayout.html.twig"%}

{% block body %}
    <h1>Lista de categorias</h1>

    <a href="{{ path('categories_new') }}" class=" btn btn-success btn-xs" >Crear una nueva categoria</a>
    <br/>
    <br/>
    <p></p>

    <table class="table table-hover">
        <thead>
            <tr>
                <th width="5">Id</th>
                <th width="30">Categoria</th>
                <th width="40">Descripción</th>
                <th width="15"></th>
                <th width="10"></th>
                <th width="10"></th>
            </tr>
        </thead>
        <tbody>
            {% for category in categories %}
                <tr>
                    <td>{{ category.id }}</td>
                    <td>{{ category.name }}</td>
                    <td>{{ category.description }}</td>
                    <td><a href="{{path("list_entry_category",{"id":category.id})}}" class="btn btn-success btn-xs" >Ver entradas de esta categoria</a> </td>
                    <td>
                        <a href="{{ path('categories_show', { 'id': category.id }) }}"  class="btn btn-success btn-xs" >Ver</a>
                    </td>
                    <td>
                        <a href="{{ path('categories_edit', { 'id': category.id }) }}"  class="btn btn-success btn-xs" >Editar</a>
                    </td>                 
                </tr>
            {% endfor %}
        </tbody>
    </table>


{% endblock %}
