{% extends "BackendBundle:Layout:adminLayout.html.twig"%}

{% block body %}
    <h1>Crear una nueva Categoria</h1>

            <ul>
                <li>
                    <a href="{{ path('categories_index') }}" class="form-submit btn btn-info" >Volver a la lista de categorias</a>
                </li>
            </ul>
                
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <input type="submit" value="Crear una categorias" class="form-submit btn btn-success" />
            {{ form_end(form) }}



        </div>
        <div class="col-md-2"></div>
    </div>
{% endblock %}
