{% extends "BackendBundle:Layout:adminLayout.html.twig"%}
{% block body %}
    
    <a href="{{ path('categories_index') }}" class="btn btn-info btn-xs" >Volver a la lista de categorias</a>
    <h1>Categoria "{{ category.name }}"</h1>
    
    <br/>
    <br/>
    <p></p>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 caja_show">


            <div class="row">  
                Id : {{ category.id }}
            </div>
            <div class="row">
                Categoria : {{ category.name }}
            </div>
            <div class="row">
                Descripción : {{ category.description }}
            </div>
            <br/>
            <br/>
            <p></p>
            
            
            <div class="row">  
                <div class="col-md-6">
                    <a href="{{ path('categories_edit', { 'id': category.id }) }}"  class=" btn btn-success btn-xs" >Editar</a>
                </div>
                
                            {% if (app.user.id is defined )%}
                {%if (app.user.role =="ROLE_SUPER_ADMIN" )%}
                    {% if category.id >= 10 %}
                <div class="col-md-6">  
                    {{ form_start(delete_form) }}
                    <input type="submit" value="Borrar"  class="btn btn-danger btn-xs" onclick="return confirm('¿Esta Ud seguro de quere borrar este registro?')">
                    {{ form_end(delete_form) }}
                </div>
                    {% endif %}
                {% endif %}
            {% endif %}
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
{% endblock %}
