{% extends "BackendBundle:Layout:adminLayout.html.twig"%}

{% block body %}

    <a href="{{ path('inscritos_show', { 'id': inscritosAcciones.inscritos.id}) }}"  class="btn btn-info btn-xs" >Volver </a>

    <h1>Editar Acción</h1>


    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class ="modal-content">
                <div class="caja_show">
                    {{ form_start(edit_form) }}
                                        {{ form_errors(edit_form) }}

                    <div class="row">
                        <div class="col-md-12 errorFormClass">
                            <span class=""> Si la accion es envio de correo, ponga aqui el texto a enviar</span>

                            {{ form_row(edit_form.accion) }}

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 errorFormClass">

                            {{ form_row(edit_form.datos) }}

                        </div>
                    </div>
                    
                    
                 <div class="row">
                        <div class="col-md-12 ">
                    Tipo de Accion : <strong>{{  inscritosAcciones.acciones.name }}</strong>
                      </div>
                    </div>
                    <input type="submit" value="Modificar" class="btn btn-success  btn-block"/>
                       {{ form_widget(edit_form) }}
                    {{ form_end(edit_form) }}

                    <br/>

                    <br/>
                    {{ form_start(delete_form) }}
                    <input type="submit"  value="Borrar" class="btn btn-danger btn-xs pull-right" onclick="return confirm('¿Esta Ud seguro de quere borrar este registro?')" />
                    {{ form_end(delete_form) }}
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>


{% endblock %}
