{% extends "BackendBundle:Layout:adminLayout.html.twig"%}

{% block body %}
    <h1>Inscritosacciones list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Status</th>
                <th>Accion</th>
                <th>Datos</th>
                <th>Fecha</th>
                <th>Inscritosid</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for inscritosAccione in inscritosAcciones %}
            <tr>
                <td><a href="{{ path('inscritosacciones_show', { 'id': inscritosAccione.id }) }}">{{ inscritosAccione.id }}</a></td>
                <td>{{ inscritosAccione.status }}</td>
                <td>{{ inscritosAccione.accion }}</td>
                <td>{{ inscritosAccione.datos }}</td>
                <td>{% if inscritosAccione.fecha %}{{ inscritosAccione.fecha|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ inscritosAccione.inscritosId }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('inscritosacciones_show', { 'id': inscritosAccione.id }) }}" class="btn btn-success btn-xs">Ver</a>
                        </li>
                        <li>
                            <a href="{{ path('inscritosacciones_edit', { 'id': inscritosAccione.id }) }}" class="btn btn-success btn-xs">Editar</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('inscritosacciones_new') }}">Create a new inscritosAccione</a>
        </li>
    </ul>
{% endblock %}
