{% extends "BackendBundle:Layout:adminLayout.html.twig"%}
{% block body %}

    <h1>Añadir una acción para este usuario</h1>

    <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-8">
            <div class ="modal-content">
                <div class="caja_show">



                    <div class="row">
                        <div class="col-md-12">

                            <div class="card card-body panelAyuda"><p class="text-primary text-right"><a  data-toggle="collapse" data-target="#demo"><span class="glyphicon glyphicon-info-sign"></span> AYUDA, para la accion "enviar de correo"  </a> </p>
                                <!--Panel-->
                                <!-- <div class="card card-body">
                                     <h4 class="card-title"></h4>

                                      <p class="card-text">Si la accion es envio de correo, use la <a  data-toggle="collapse" data-target="#demo"><span class="glyphicon glyphicon-info-sign"></span> AYUDA</a> </p>
                                <!-- <div class="flex-row">
                                     <a class="card-link">link</a>
                                 </div>
                             </div>-->
                                <!--/.Panel-->

                                <div id="demo" class="collapse ">

                                    <p class="card-text"> Use el campo "Información de la acción" para indicar el asunto del correo</p>
                                    <p> Use el campo "Datos complementarios" para escribir el texto del mensaje. </p>

                                    <ul class="ayudaEnvioCorreo">
                                        <li><small>Puede usar las siguientes opciones para incluir los datos dinamicos del inscrito, por ejemplo, para incluir el nombre del inscrito ponga [NOMBRE] </small></li>
                                        <li>
                                            <small>[NOMBRE] -> nombre inscrito </small>
                                        </li>
                                        <li>
                                            <small>[APELLIDOS] -> Apellidos inscrito </small>
                                        </li>
                                        <li>
                                            <small>[TELEFONO] -> Telefono del Inscrito</small>
                                        </li>
                                        <li>
                                            <small>  [CORREO] -> Correo del Inscrito </small>
                                        </li>
                                        <li>
                                            <small>  [DOCUMENTO] -> Documento del Inscito</small>
                                        </li>
                                        <li>
                                            <small>  [FECHAINSCRIPCION] -> Fechaen la que realizó la Inscripción </small>
                                        </li>
                                    </ul>
                                </div>
                            </div>


                        </div>
                    </div>

                    {{ form_start(form) }}
                    {{ form_errors(form ) }}
                    <div class="row">
                        <div class="col-md-12 errorFormClass">


                            {{ form_row(form.accion) }}

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 errorFormClass">

                            {{ form_row(form.datos) }}

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 errorFormClass">

                            {{ form_row(form.status) }}

                        </div>
                    </div>
                    <div class="row">
                        <input type="submit" value="Crear una accion" class="form-submit btn btn-success btn-block" />
                    </div>
                    {{ form_widget(form) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>

{% endblock %}
