{% extends "BackendBundle:Layout:adminLayout.html.twig"%}

{% block body %}

            
               <h1>Acción  : "{{ inscritosAcciones.acciones.name}}"</h1>

    <br/>
<a href="{{ path('inscritos_show', { 'id': inscritosAcciones.inscritosId}) }}"  class="btn btn-info btn-xs" >Volver </a>  
     
    <br/>
    <p></p>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 caja_show">


            <div class="row"> Id  ; {{ inscritosAcciones.id }}</div>
            <div class="row"> Status:  {{ inscritosAcciones.status }} </div>
            <div class="row"> Accion : {{ inscritosAcciones.accion }}</div>
            <div> Datos : {{ inscritosAcciones.datos }}</div>
            <div>Fecha  : {% if inscritosAcciones.fecha %}{{ inscritosAcciones.fecha|date('Y-m-d H:i:s') }}{% endif %}</div>
            <div>  Identificador del usuario  : {{ inscritosAcciones.inscritosId }}</div>
            
            
            {% if (app.user.id is defined )%}


                {%if (app.user.role =="ROLE_SUPER_ADMIN" )%}
                    <br/>
                    <div class="row">  
                        <div class="col-md-6">


                            <a href="{{ path('inscritosacciones_edit', { 'id': inscritosAcciones.id }) }}"class="btn btn-success btn-xs">Editar</a>
                        </div>
                        <div class="col-md-6">  
                           
                                {{ form_start(delete_form) }}
                                <input type="submit" value="Borrar"   class="btn btn-danger btn-xs" onclick="return confirm('¿Esta Ud seguro de quere borrar este registro?')">
                                {{ form_end(delete_form) }}
                           
                        </div>

                    </div>

                {% endif %}
            {% endif %}  

        </div>
        <div class="col-md-2"></div>
    </div>
            
{% endblock %}
