{% extends "BackendBundle:Layout:adminLayout.html.twig"%}

{% block body %}
   
    <h1>Lista de entradas de la categoria <strong>"{{category.name}}" </strong></h1>
        <br/>
      
        {% if category.id >= 8 %}  
            <a href="{{ path('entries_new') }}"  class="btn btn-success btn-xs"> Añadir entrada </a>
            {% endif%}
       <br/>

    <table  class="table table-hover">
        <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'ID', 'e.id') }}</th>
                <th {% if pagination.isSorted('e.title') %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(pagination, 'TITULO', 'e.title') }}</th>
                <th>Contenido</th>
                <th> Autor </th>
                <th>Status</th>
                <th>Categoria</th>
                <th>Image</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for entry in pagination %}
            <tr>
                <td><a href="{{ path('entries_show', { 'id': entry.id }) }}">{{ entry.id }}</a></td>
                <td>{{ entry.title }}</td>
                <td>{{ entry.content }}</td>
                <td>{{entry.user.name}} {{entry.user.surname}} </td>
                <td>{{ entry.status }}</td>
                <td>{{entry.category.name}} </td>
                <td>
                    
                    {% if (entry.image != null )%}
                    <img  src="{{ asset(saved_file~"/peq/"~entry.image) }}" width="100" />
                    {%endif%}
                    </td>
                <td> <a href="{{ path('entries_show', { 'id': entry.id }) }}" class="btn btn-success btn-xs">Ver</a></td>         
                <td><a href="{{ path('entries_edit', { 'id': entry.id }) }}" class="btn btn-success btn-xs">Editar</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
                        <div class="count">
                            <span class="label label-primary">
                                Entradas en total: {{ pagination.getTotalItemCount }}
                            </span>
                        </div>
                        {# display navigation #}
                        <div class="navigation">
                            {{ knp_pagination_render(pagination) }}
                        </div>

{% endblock %}
