{% extends "BackendBundle:Layout:adminLayout.html.twig"%}

{% block body %}
    <a href="{{ path('entries_index') }}" class="btn btn-info btn-xs" >Volver a la lista de entradas</a>    

    <h1>Editar ENTRADA</h1>


    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            {{ form_start(edit_form) }}
            {{ form_errors(edit_form) }}


            <div class="row">
                <div class="col-md-12 formAdmin">

                    {{ form_row(edit_form.title) }}

                </div>
            </div>   
            <div class="row">
                <div class="col-md-12 formAdmin">

                    {{ form_row(edit_form.content) }}

                </div>
            </div> 
            <div class="row">
                <div class="col-md-12 formAdmin">

                    {{ form_row(edit_form.status) }}

                </div>
            </div>
            <div class="row">
                <div class="col-md-12 formAdmin">

                    {{ form_row(edit_form.category) }}

                </div>
            </div>
            <div class="row">
                <div class="col-md-12 formAdmin">

                    {{ form_row(edit_form.image) }}

                </div>
            </div>
  
            {% if entry.image!="" %}

                <div class="row">
                    <div class="col-md-8 formAdmin">
                        <img width="400" src="{{asset(saved_file~"/"~entry.image)}}"  class="separador"/>
                    </div>
                
                    <div class="col-md-4 formAdmin">
<label for="acepto" class="active">Marque solo si desea borrar la imagen y que la entrada no tenga ninguna imagen: </label>
                        <input type="checkbox" id="acepto" name="acepto" class="form-control css-checkbox" value="1">
                    </div>
                </div>

            {% endif %}
            {{ form_widget(edit_form) }}
            <div class="row">
                    <div class="col-md-10"></div>
                    <div class="col-md-2 formAdmin">
                    <input type="submit" value="Modificar" class="btn btn-success btn-xs btn-block"/>
                </div>
            </div>
            {{ form_end(edit_form) }}

        
            {% if entry.id >= 26 %}

                <div class="row">
                    <div class="col-md-10"></div>
                    <div class="col-md-2 formAdmin">
                        {{ form_start(delete_form) }}
                        <input type="submit"  value="Borrar" class="btn btn-danger btn-xs btn-block" onclick="return confirm('¿Esta Ud seguro de quere borrar este registro?')" />
                    </div>
                </div>

                {{ form_end(delete_form) }}
            {% endif %}
        </div>
    </div>

{% endblock %}
