{% extends "BackendBundle:Layout:adminLayout.html.twig"%}

{% block body %}
    
    <h1>Lista de entradas</h1>
        <br/>
            <a href="{{ path('entries_new') }}"  class="btn btn-success btn-xs"> Añadir entrada </a>
       <br/>

    <table  class="table table-hover">
        <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'ID', 'e.id') }}</th>
                <th {% if pagination.isSorted('e.title') %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(pagination, 'TITULO', 'e.title') }}</th>
                <th>Contenido</th>
                <th> Autor </th>
                <th>Status</th>
                <th>Categoria</th>
                <th>Image</th>
                <th></th>
                {% if (app.user.id is defined )%}
                        {%if (app.user.role =="ROLE_SUPER_ADMIN" )%}
                        <th></th>
                        {% endif %}
                    {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for entry in pagination %}
            <tr>
                <td><a href="{{ path('entries_show', { 'id': entry.id }) }}">{{ entry.id }}</a></td>
                <td>{{ entry.title }}</td>
                <td>{{ entry.content|length > 200 ? entry.content|slice(0, 200) ~ ' (...)' : entry.content  }}</td>
                <td>{{entry.user.name}} {{entry.user.surname}} </td>
                <td>{{ entry.status }}</td>
                <td><a href="{{path("list_entry_category",{"id":entry.category.id})}}" >{{entry.category.name}}</a> </td>
                <td> {% if entry.image!="" %}
                    <img  src="{{ asset(saved_file~"/peq/"~entry.image) }}" width="100" />
                {% endif %}
                </td>
                <td> <a href="{{ path('entries_show', { 'id': entry.id }) }}" class="btn btn-success btn-xs">Ver</a></td>         
                
                    {% if (app.user.id is defined )%}
                        {%if (app.user.role =="ROLE_SUPER_ADMIN" )%}
                   <td> 
                    <a href="{{ path('entries_edit', { 'id': entry.id }) }}" class="btn btn-success btn-xs">Editar</a>
                   </td>
                        {% endif %}
                    {% endif %}
                        
            </tr>
        {% endfor %}
        </tbody>
    </table>
                        <div class="count">
                            <span class="label label-primary">
                                Entradas en total: {{ pagination.getTotalItemCount }}
                            </span>
                        </div>
                        {# display navigation #}
                        <div class="navigation">
                            {{ knp_pagination_render(pagination) }}
                        </div>

{% endblock %}
