{% extends "BackendBundle:Layout:adminLayout.html.twig"%}

{% block body %}
    <h1>Crear ua nueva entrada</h1>

            <a href="{{ path('entries_index') }}" class="form-submit btn btn-info" >Volver a la lista de categorias</a>


    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Crear una nueva Entrada" class="form-submit btn btn-success" />
    {{ form_end(form) }}
        </div>
        <div class="col-md-2"></div>
    </div>

{% endblock %}
