{% extends "BackendBundle:Layout:adminLayout.html.twig"%}
{% block body %}

    <a href="{{ path('entries_index') }}"  class="btn btn-info btn-xs" >Volver a la lista de entradas</a>   
    <h1>Entrada : "{{ entry.title }}"</h1>


    <br/>
    <br/>
    <p></p>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 caja_show">


            <div class="row">  
                Id : {{ entry.id }}
            </div>
            <div class="row">
                Titulo : {{ entry.title }}
            </div>
            <div class="row">
                Contenido :<br/> {{ entry.content }}<br/>
            </div>
            <div class="row">
                Estado : {{ entry.status }}
            </div>
            <div class="row">
                Caregoria : <a href="" >{{entry.category.name}}</a>
            </div>
            <div class="row">
                Imagen : {{ entry.image }}
                <br/>
                {% if entry.image!="" %}
                    <img  src="{{ asset(saved_file~"/peq/"~entry.image) }}" />
                {% endif %}
            </div>

            <br/>
            <br/>
            <p></p>

            {% if (app.user.id is defined )%}


                {%if (app.user.role =="ROLE_SUPER_ADMIN" )%}
                    <div class="row">  
                        <div class="col-md-6">
                            <a href="{{ path('entries_edit', { 'id': entry.id }) }}" class="btn btn-success btn-xs" >Editar</a>
                        </div>
                        <div class="col-md-6">  
                            {% if entry.id >= 26 %}
                            {{ form_start(delete_form) }}
                            <input type="submit"  value="Borrar"  class="btn btn-danger btn-xs" onclick="return confirm('¿Esta Ud seguro de quere borrar este registro?')">
                            {{ form_end(delete_form) }}
                            {% endif %}
                        </div>

                    </div>

                {% endif %}
            {% endif %}

        </div>
        <div class="col-md-2"></div>
    </div>
{% endblock %}
