{% extends "BackendBundle:Layout:adminLayout.html.twig"%}

{% block body %}
    <h1>Lista de inscritos validados </h1> <h3>por {{ app.request.pathInfo|split('/')|last |escape('html')}}</h3>
    <br/>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Correo</th>
                <th> correo validado </th>
                <th> Documento </th>
                <th>  </th>
                <th>  </th>
            </tr>
        </thead>
        <tbody>
            {% for validaInscrito in pagination %}
                <tr>
                    <td>
                        {{ validaInscrito.inscritos.id }} 
                    </td>
                    <td>{{ validaInscrito.inscritos.nombreUsuario }} 
                    </td>
                    <td> {{ validaInscrito.inscritos.apellidoUsuario }} 
                    </td>
                    <td>{{ validaInscrito.inscritos.correoUsuario}} 
                    </td>
                    <td>{{ validaInscrito.inscritos.validadocorreo}} 
                    </td>
                    <td> {{ validaInscrito.inscritos.documento }} 
                    </td>
                    <td>
                        {% if (app.user.id is defined )%}
                            {% if (app.user.role=="ROLE_MEDIUN_ADMIN" or app.user.role =="ROLE_SUPER_ADMIN"  )%}
                               <a href="{{ path('inscritos_show', { 'id': validaInscrito.inscritos.id  }) }}"  class="btn btn-info btn-xs  btn-block" target="_blank">Ver inscrito</a>
                            {% endif%}
                        {% endif%}
                    </td>
               <td>
                        {% if (app.user.id is defined )%}
                            {% if (app.user.role=="ROLE_MEDIUN_ADMIN" or app.user.role =="ROLE_SUPER_ADMIN"  )%}
                                <a href="{{ path('validainscritos_show', { 'id': validaInscrito.users.id, 'idInscrito' :validaInscrito.inscritos.id  }) }}" class="btn btn-danger btn-xs">Borrar validación</a>
                            {% endif%}
                        {% endif%}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

        <div class="count">
        <span class="label label-primary">
            Entradas en total: {{ pagination.getTotalItemCount }}
        </span>
    </div>
    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
