{% extends "BackendBundle:Layout:adminLayout.html.twig"%}

{% block body %}
    <h1>Va a borrar una validación realizada por :</h1>
  
    <table  class="table table-hover">
        <tbody>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Correo</th>
            </tr>
            <tr>
                <td>{{ validaInscrito.id }}</td>
                <td>{{ validaInscrito.users.name }} </td>

                <td>{{ validaInscrito.users.surname }} </td>
                <td>{{ validaInscrito.users.email }} </td>
            </tr>
        </tbody>
    </table>

    
    <div class="row">  
        <div class="col-md-12">
       <h2> ¿esta Ud seguro ?</h2>     <a href="{{ path('validainscritos_inscrito', { 'id': idInscrito}) }}"  class="btn btn-success">Volver a la lista</a>
        <br/>
            {{ form_start(delete_form) }}
            <input type="submit" value="Borrar"  class="btn btn-danger btn-xs">
            {{ form_end(delete_form) }}
        </div>
    </div>
{% endblock %}
