{% extends "BackendBundle:Layout:adminLayout.html.twig"%}

{% block body %}
   
    <h2>El inscrito {{ inscrito.nombreusuario }} {{ inscrito.apellidoUsuario}} con correo {{ inscrito.correoUsuario}} ha sido validado por:</h2>

    <a href="{{ path('inscritos_show', { 'id': inscrito.id }) }}"  class="btn btn-success btn-xs">Ver todos los datos de este inscrito</a>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Correo</th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
            {% for validaInscrito in inscrito.validaInscritos %}
                <tr>
                    <td><a href="{{ path('validainscritos_show', { 'id': validaInscrito.id, 'idInscrito' :inscrito.id  }) }}">{{ validaInscrito.id }} {{ validaInscrito.user }}</a>
                    </td>

                    <td>{{ validaInscrito.users.name }} </td>

                    <td>{{ validaInscrito.users.surname }} </td>
                    <td>{{ validaInscrito.users.email }} </td>
                    <td>
                        {% if (app.user.id is defined )%}
                            {% if (app.user.role=="ROLE_MEDIUN_ADMIN" or app.user.role =="ROLE_SUPER_ADMIN"  )%}
                                <a href="{{ path('validainscritos_show', { 'id': validaInscrito.id, 'idInscrito' :inscrito.id }) }}" class="btn btn-danger btn-xs">Borrar validación</a>
                            {% endif%}
                        {% endif%}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>


{% endblock %}
