{% extends "BackendBundle:Layout:adminLayout.html.twig"%}

{% block body %}
    <h1>descargar datos</h1>
    
    <table  class="table table-hover">
        <thead>
            <tr>
                <th width="40%"></th>
                <th width="30%">  CSV </th>
                <th width="50%"> Formato Demokratian </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> Exportar  todos los inscritos</td>
                <td> <a href="{{ path('export_format', { 'format': "csv" , 'type': 1  }) }}"  class="btn btn-success btn-xs  btn-block">descargar</a></td>
                <td> <a href="{{ path('export_format', { 'format': "dmK" , 'type': 1  }) }}"  class="btn btn-success btn-xs  btn-block">descargar</a></td>
            </tr>
            <tr>
                <td> Exportar inscritos validados</td>
                <td> <a href="{{ path('export_format', { 'format': "csv" , 'type': 2  }) }}"  class="btn btn-success btn-xs  btn-block">descargar</a></td>
                <td> <a href="{{ path('export_format', { 'format': "dmK" , 'type': 2  }) }}"  class="btn btn-success btn-xs  btn-block">descargar</a></td>
            </tr>
            <tr>
                <td> Exportar inscritos sin validador</td>
                <td> <a href="{{ path('export_format', { 'format': "csv" , 'type': 3  }) }}"  class="btn btn-success btn-xs  btn-block">descargar</a></td>
                <td> <a href="{{ path('export_format', { 'format': "dmK" , 'type': 3  }) }}"  class="btn btn-success btn-xs  btn-block">descargar</a></td>
            </tr>
            <tr>
                <td> Exportar inscritos sin acciones </td>
                <td> <a href="{{ path('export_format', { 'format': "csv" , 'type': 4  }) }}"  class="btn btn-success btn-xs  btn-block">descargar</a></td>
                <td> <a href="{{ path('export_format', { 'format': "dmK" , 'type': 4  }) }}"  class="btn btn-success btn-xs  btn-block">descargar</a></td>
            </tr>
            <tr>
                <td> </td>
                <td> </td>
                <td> </td>
            </tr>
            </tbody>
    </table>
     
{% endblock %}
