{% extends "BackendBundle:Layout:adminLayout.html.twig"%}

{% block body %}
    <h1>Editar Password</h1>


    <br/>
    <br/>
    <p></p>

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">

            <div class ="modal-content">
                <div class="modal-body">
                    <fieldset>

                        {{ form_start(form) }}

                        <div class="row correoclass">

                            <div class="col-md-6 errorFormClass">
                                {{ form_row(form.oldPassword) }}

                            </div>
                            <div class="col-md-6 errorFormClass">
                            </div>
                        </div>
                        <br/>
                        <div class="row correoclass">

                            <div class="col-md-6 errorFormClass">
                                {{ form_row(form.password.first) }}

                            </div>
                            <div class="col-md-6 errorFormClass">

                                {{ form_row(form.password.second) }}

                            </div>
                        </div>





                        {{ form_widget(form) }}
                        <input type="submit" value="Modificar"  class="form-submit btn btn-success  pull-right"/>
                        {{ form_end(form) }}


                    </fieldset>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>



{% endblock %}

