{% extends "BackendBundle:Layout:adminLayout.html.twig"%}
{% block body %}
    <h1>Ccaas list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Ccaa</th>
                <th>Especial</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ccaa in ccaas %}
            <tr>
                <td><a href="{{ path('ccaa_show', { 'id': ccaa.id }) }}">{{ ccaa.id }}</a></td>
                <td>{{ ccaa.ccaa }}</td>
                <td>{{ ccaa.especial }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('ccaa_show', { 'id': ccaa.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('ccaa_edit', { 'id': ccaa.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('ccaa_new') }}">Create a new ccaa</a>
        </li>
    </ul>
{% endblock %}
