{% extends "BackendBundle:Layout:adminLayout.html.twig"%}

{% block body %}
    <h1>Ccaa</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ccaa.id }}</td>
            </tr>
            <tr>
                <th>Ccaa</th>
                <td>{{ ccaa.ccaa }}</td>
            </tr>
            <tr>
                <th>Especial</th>
                <td>{{ ccaa.especial }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('ccaa_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('ccaa_edit', { 'id': ccaa.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
