{% extends "BackendBundle:Layout:adminLayout.html.twig"%}

{% block body %}
    <h1>Municipios list</h1>

    <table>
        <thead>
            <tr>
                <th>Idmunicipio</th>
                <th>Codmunicipio</th>
                <th>Dc</th>
                <th>Nombre</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for municipio in municipios %}
            <tr>
                <td><a href="{{ path('municipios_show', { 'idMunicipio': municipio.idMunicipio }) }}">{{ municipio.idMunicipio }}</a></td>
                <td>{{ municipio.codMunicipio }}</td>
                <td>{{ municipio.dc }}</td>
                <td>{{ municipio.nombre }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('municipios_show', { 'idMunicipio': municipio.idMunicipio }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
