{% extends "BackendBundle:Layout:adminLayout.html.twig"%}

{% block body %}
    <h1>Municipio</h1>

    <table>
        <tbody>
            <tr>
                <th>Idmunicipio</th>
                <td>{{ municipio.idMunicipio }}</td>
            </tr>
            <tr>
                <th>Codmunicipio</th>
                <td>{{ municipio.codMunicipio }}</td>
            </tr>
            <tr>
                <th>Dc</th>
                <td>{{ municipio.dc }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ municipio.nombre }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('municipios_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
