{% extends "AppBundle:Layout:layout.html.twig"%}

{% block carusel %}
    <div class="page-header">
        <img src="{{ asset('assets/images/cabecera.png')}}" class="img-responsive" alt="Logo "/>
    </div>
{% endblock %}
{% block content %}
 <br/><br/>
<div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class ="modal-content">

    <div class="modal-body finaliza">
    <p></p>
  {% for type, messages in app.session.flashbag.all() %}
                        {#sacamos los mensages de error o que se ha realizado la acción#}
                        <div class= "alert alert-{{type}}">
                            {% for message in messages %}
                                {{message}}
                            {% endfor %}
                        </div>
                        <p></p>
                        {% if type=="success"%}

                            <h2> Ha terminado su inscripcion</h2>

                             <p> En los proximos dias se validaran los datos que ha enviado</p>
            <p> Tanto si hay algun problema como si esta todo correcto le enviaremos un correo electronico</p>

                        {% endif %}
                        {% else%}
                        <p> Acceso incorrecto</p>
                    {% endfor %}
                <p></p>

</div>
            </div>
        </div>
                    <div class="col-md-2"></div>
</div> <p></p>
<p></p>
{% endblock %}
