{% extends "AppBundle:Layout:layout.html.twig"%}

{% block css %}  
    <link  href="{{ asset('assets/bootstrap-datepicker-1.6.4-dist/css/bootstrap-datepicker3.min.css')}}" rel="stylesheet">
    <!--<link id="bsdp-css" href="{{ asset('assets/select2-4.0.5/css/select2.min.css')}}" rel="stylesheet">-->
{% endblock %} 

{% block js %}
   <!-- <script src="{{ asset('assets/select2-4.0.5/js/select2.js')}}" charset="UTF-8"></script>-->
    <script src="{{ asset('assets/bootstrap-datepicker-1.6.4-dist/js/bootstrap-datepicker.min.js')}}"></script>
    <script src="{{ asset('assets/bootstrap-datepicker-1.6.4-dist/locales/bootstrap-datepicker.es.min.js')}}" charset="UTF-8"></script>
    <script src="{{ asset('assets/js/custom/custom.js')}}" charset="UTF-8"></script>
    <script src="{{ asset('assets/js/custom/inscritos.js')}}" charset="UTF-8"></script>


    <script type="text/javascript">
        $(document).ready(function () {
        {% if inscrito.pais!= "" %}
            {% if inscrito.pais== "ES" %}         
                document.getElementById('otros_paises').style.display = 'none';
                {% if inscrito.provinciaInscritos!="" %}
                        var data = {
                            provincia_id:{{inscrito.provinciaInscritos.id}}
                        };
                        $.ajax({
                            type: 'POST',
                            url: "{{ path('recupera_municipio') }}",
                            //url: URL + '/muni-test',
                            data: data,
                            success: function (data) {
                                var $muni_selector = $('.class_select_municipio');
                    {% if inscrito.municipioInscritos!="" %}
                                    $muni_selector.html('<option value="{{inscrito.municipioInscritos.idMunicipio}}">{{inscrito.municipioInscritos.nombre}}</option>');
                    {% else %}
                                    $muni_selector.html('<option>Selecciona un municipio</option>');
                    {% endif %}

                                    for (var i = 0, total = data.length; i < total; i++) {

                                        $muni_selector.append('<option value="' + data[i].idMunicipio + '">' + data[i].nombre + '</option>');
                                    }
                                    capa3.show(1000);
                                    //capa3.focus();
                                }
                            });
                {% else %}
                        document.getElementById('ver_municipios').style.display = 'none';

                {% endif %}

            {% else %}
                    document.getElementById('pais_espana').style.display = 'none';
            {% endif%}
        {% else %}   
                    document.getElementById('otros_paises').style.display = 'none';
                    document.getElementById('ver_municipios').style.display = 'none';
        {% endif %}
                capa = $("#pais_espana");
                capa2 = $("#otros_paises");
                capa3 = $("#ver_municipios");

                $('#backendbundle_inscritos_pais').change(function () {
                    var id_pais = $('#backendbundle_inscritos_pais').val();


                    if (id_pais == "ES") {
                        capa.show(1000);
                        capa2.hide(1000);
                    } else {
                        capa2.show(1000);
                        capa.hide(1000);

                    }
                })


            });
    </script>


    <script>
        $(document).ready(function () {
            $(".class_select_provincia").change(function () {
                var data = {
                    provincia_id: $(this).val()
                };
                $.ajax({
                    type: 'POST',
                    url: "{{ path('recupera_municipio') }}",
                    //url: URL + '/muni-test',
                    data: data,
                    success: function (data) {
                        var $muni_selector = $('.class_select_municipio');
                        $muni_selector.html('<option>Selecciona un municipio</option>');

                        for (var i = 0, total = data.length; i < total; i++) {

                            $muni_selector.append('<option value="' + data[i].idMunicipio + '">' + data[i].nombre + '</option>');
                        }
                        capa3.show(1000);
                        //capa3.focus();
                    }
                });
            });
        });

    </script> 

    <script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}
{% block carusel %} 
    <div class="page-header">
        <img src="{{ asset('assets/images/cabecera.png')}}" class="img-responsive" alt="Logo "/>
    </div>
{% endblock %}
{% block content %} 


    <br/>
    {% if entries.0.content is defined and entries.0.content is not empty and entries.0.status == "public" %}

        <div class="caja">
            <h2>{{ entries.0.title| raw }}</h2>
            <p> {{ entries.0.content|nl2br}}</p>
        </div>
        <br/>
    {% endif%}

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class ="modal-content">
                <div class="modal-header inscripcion">
                    {% if entries.1.content is defined and entries.1.content is not empty and entries.1.status == "public" %}
                        <h1>{{ entries.1.title| raw }}</h1>
                        <p>{{ entries.1.content| raw }}</p>
                    {% endif %}
                </div>
                <div class="modal-body">
                    {% for type, messages in app.session.flashbag.all() %} 
                        {#sacamos los mensages de error o que se ha realizado la acción#}
                        <div class= "alert alert-{{type}}"> 
                            {% for message in messages %}
                                {{message}} 
                            {% endfor %}
                        </div>
                    {% endfor %}
                    <br/>
                    {{ form_start(form , {attr: {novalidate: 'novalidate'}}) }}
                    <!-- {{ form_start(form) }}-->
                    {{ form_errors(form) }}

                    <fieldset>
                        <legend>Datos personales</legend>
                        <div class="row">
                            <div class="col-md-6 errorFormClass">

                                {{ form_row(form.nombreUsuario) }}

                            </div>
                            <div class="col-md-6 errorFormClass">
                                {{ form_row(form.apellidoUsuario) }}
                            </div>
                        </div>
                        <div class="row correoclass">

                            <div class="col-md-6 errorFormClass">
                                {{ form_row(form.correoUsuario.first) }}

                            </div>
                            <div class="col-md-6 errorFormClass">
                                {{ form_errors(form.correoUsuario) }}
                                {{ form_row(form.correoUsuario.second) }}

                            </div>
                        </div>

                        <div class="row  errorFormClass">
                            <div class="col-md-6 selector errorFormClass">
                                {{ form_row(form.tipodocumento) }}
                            </div>
                            <div class="col-md-6 errorFormClass">
                                {{ form_row(form.documento) }}
                            </div>
                        </div>

                        <div class="row ">
                            <div class="col-md-6 selector errorFormClass" >
                                {{ form_row(form.fechanacimiento) }}
                            </div>
                            <div class="col-md-6 errorFormClass">
                                {{ form_row(form.telefono) }}
                            </div>
                        </div>

                    </fieldset>

                    <fieldset>
                        <legend>Datos censales</legend>
                        <div class="row">
                            <div class="col-md-6  selector errorFormClass">
                                {{ form_row(form.pais) }}
                            </div>
                            <div class="col-md-6 ">

                            </div>
                        </div>

                        <div id ="otros_paises" class="row">
                            <div class="col-md-6 errorFormClass">
                                {{ form_row(form.provinciaotros) }}
                            </div>
                            <div class="col-md-6 errorFormClass">
                                {{ form_row(form.municipiootros) }}
                            </div>
                        </div>

                        <div  id ="pais_espana"  class="row">
                            <div class="col-md-6  selector errorFormClass">
                                {{ form_row(form.provinciaInscritos) }}
                            </div>
                            <div id="ver_municipios" class="col-md-6  selector errorFormClass">
                                {{ form_row(form.municipioInscritos) }}
                                <!-- <label for="class_select_municipio">Municipio </label>
                                <select name="backendbundle_inscritos[municipioInscritos]" id="backendbundle_inscritos_municipioInscritos" class="form-name form-control class_select_municipio"> -->
                                </select>
                            </div>
                        </div>    


                        <div class="row">
                            <div class="col-md-3 errorFormClass">
                                {{ form_row(form.codigopostal) }}
                            </div>
                            <div class="col-md-9 errorFormClass">
                                {{ form_row(form.direccion) }}
                            </div>
                        </div>  

                        <div class="row">
                            <div class="col-md-12 errorFormClass">
                                {{ form_row(form.lugarparticipacion) }}
                            </div>

                        </div> 
                    </fieldset>
                    <br/>
                    <fieldset>
                        <div class="row">
                            <div class="col-md-5 errorFormClass classAcepto">
                                {{ form_row(form.acepto) }} 
                            </div>
                            <div class="col-md-6 errorFormClass">

                                <a data-toggle="modal" href="#modal-condiciones" class="btn btn-simple lime pull-right"><i class="fa fa-info-circle btn_social"> </i>&nbsp;&nbsp;&nbsp;  Ver {{ entries.2.title| raw }}</a>
                            </div>
                        </div>  



                        <br/>
                        <div class="row">
                            <div class="col-md-12 errorFormClass">
                                {# Add the reCAPTCHA div to show in form #}
                                <div class="g-recaptcha" data-sitekey="{{reCAPTCHA_data_sitekey}}"></div>
                            </div>
                        </div> 
                    </fieldset>
                    {{ form_widget(form) }}
                    <div class="row">
                        <div class="col-md-12 errorFormClass">
                            <input type="submit" value="Inscribirse"  class="form-submit btn btn-success  pull-right" />
                        </div>
                    </div> 
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
    {% if entries.3.content is defined and entries.3.content is not empty and entries.3.status == "public" %}
        <br/>
        <div class="caja">
            <h2>{{ entries.3.title|nl2br }} </h2>
            <p> {{ entries.3.content|nl2br }} </p>

        </div>
    {% endif %}
{% endblock %}

{% block modal %} 

    <!-- Modal contactar -->
    <div class="modal fade modal-ext" id="modal-condiciones" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <!--Content-->
            <div class="modal-content">

                <!--Header-->
                <div class="modal-header inscripcion">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h3><i class="fa fa-gavel"></i> {{ entries.2.title| raw }}</h3>
                </div>

                <!--Body-->

                <div class="modal-body">


                    <div class="md-form">

                        <textarea class="form-control" id="contact"  rows="10" required>{{ entries.2.content }}</textarea>


                    </div>

                </div>


            </div>

            <!--/.Content-->
        </div>
    </div>

    <!-- /Modal contactar -->


{% endblock %}
