{% extends "AppBundle:Layout:layout.html.twig"%}

{% block css %}
    <link  href="{{ asset('assets/bootstrap-datepicker-1.6.4-dist/css/bootstrap-datepicker3.min.css')}}" rel="stylesheet">
    <!--<link id="bsdp-css" href="{{ asset('assets/select2-4.0.5/css/select2.min.css')}}" rel="stylesheet">-->
{% endblock %}

{% block js %}
   <!-- <script src="{{ asset('assets/select2-4.0.5/js/select2.js')}}" charset="UTF-8"></script>-->
    <script src="{{ asset('assets/bootstrap-datepicker-1.6.4-dist/js/bootstrap-datepicker.min.js')}}"></script>
    <script src="{{ asset('assets/bootstrap-datepicker-1.6.4-dist/locales/bootstrap-datepicker.es.min.js')}}" charset="UTF-8"></script>
    <script src="{{ asset('assets/js/custom/custom.js')}}" charset="UTF-8"></script>
    <script src="{{ asset('assets/js/custom/inscritos.js')}}" charset="UTF-8"></script>






    <script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}
{% block carusel %}
    <div class="page-header">
        <img src="{{ asset('assets/images/cabecera.png')}}" class="img-responsive" alt="Logo "/>
    </div>
{% endblock %}
{% block content %}


    <br/>
    {% if entries.0.content is defined and entries.0.content is not empty and entries.0.status == "public" %}

        <div class="caja">
            <h2>{{ entries.0.title| raw }}</h2>
            <p> {{ entries.0.content|nl2br}}</p>
        </div>
        <br/>
    {% endif%}

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class ="modal-content">
                <div class="modal-header inscripcion">
                    {% if entries.1.content is defined and entries.1.content is not empty and entries.1.status == "public" %}
                        <h1>{{ entries.1.title| raw }}</h1>
                        <p>{{ entries.1.content| raw }}</p>
                    {% endif %}
                </div>
                <div class="modal-body">
                    {% for type, messages in app.session.flashbag.all() %}
                        {#sacamos los mensages de error o que se ha realizado la acción#}
                        <div class= "alert alert-{{type}}">
                            {% for message in messages %}
                                {{message}}
                            {% endfor %}
                        </div>
                    {% endfor %}
                    <br/>

                    {{ form_start(form , {attr: {novalidate: 'novalidate'}}) }}
                    {{ form_errors(form) }}

                    <fieldset>
                        <legend>Datos </legend>

                        <div class="row correoclass">

                            <div class="col-md-6 errorFormClass">
                                {{ form_row(form.correoUsuario.first) }}

                            </div>
                            <div class="col-md-6 errorFormClass">
                                {{ form_errors(form.correoUsuario) }}
                                {{ form_row(form.correoUsuario.second) }}

                            </div>
                        </div>

                        <div class="row  errorFormClass">
                            <div class="col-md-6 selector errorFormClass">
                                {{ form_row(form.tipodocumento) }}
                            </div>
                            <div class="col-md-6 errorFormClass">
                                {{ form_row(form.documento) }}
                            </div>
                        </div>


                    <br/>
                    <div class="row">
                            <div class="col-md-12 errorFormClass">
                    {# Add the reCAPTCHA div to show in form #}
                    <div class="g-recaptcha" data-sitekey="{{reCAPTCHA_data_sitekey}}"></div>
</div>
                        </div>
</fieldset>
                    {{ form_widget(form) }}
                    <div class="row">
                            <div class="col-md-12 errorFormClass">
                    <input type="submit" value="Comprobar"  class="form-submit btn btn-success  pull-right" />
                    </div>
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
    {% if entries.2.content is defined and entries.2.content is not empty and entries.2.status == "public" %}
        <br/>
        <div class="caja">
            <h2>{{ entries.2.title|nl2br }} </h2>
            <p> {{ entries.2.content|nl2br }} </p>

        </div>
    {% endif %}
{% endblock %}
