{% extends "AppBundle:Layout:layout.html.twig"%}
{% block js %}
    <script type="text/javascript">
        $(document).ready(function () {
            var maxField = 4; //Input fields increment limitation
            var addButton = $('.add_button'); //Add button selector
            var x = 1; //Initial field counter is 1
            var wrapper = $('.field_wrapper'); //Input field wrapper
            var fieldHTML = '<div class="row"> <div class="col-md-9 errorFormClass"><input type="file" name="images[]"  value="" accept="video/*,image/*"  class="form-name form-control" / ></div> <a href="javascript:void(0);" class="remove_button btn btn-simple lime btn-xs"  title="Borrar campo">Borrar campo</a></div>'; //New input field html 

            var maxInfo = '<div class="alert alert-info maxInfo"> El maximo numero de archivos que se puede añadir cada vez es de ' + maxField + ' </div>';
            $(addButton).click(function () { //Once add button is clicked
                if (x < maxField) { //Check maximum number of input fields
                    x++; //Increment field counter
                    $(wrapper).append(fieldHTML); // Add field html
                } else {
                    $(wrapper).append(maxInfo); // Add field html
                    $("#addFile").fadeOut(1000);
                }
            });


            $(wrapper).on('click', '.remove_button', function (e) { //Once remove button is clicked
                e.preventDefault();
                $(this).parent('div').remove(); //Remove field html
                x--; //Decrement field counter
                if (x < maxField) { //Check maximum number of input fields
                    $("#addFile").fadeIn(1000);
                    $(".maxInfo").fadeOut(1000); // Add field html
                    $(".maxFile").fadeOut(1000); // Add field html
                }
            });
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
// En cuanto se registre un cambio dentro del INPUT FILE verificamos el tamaño
            $(document).on('change', 'input[type="file"]', function () {
// this.files[0].size gets the size of your file.
// alert(this.files[0].size);
                var wrapper = $('.field_wrapper'); //Input field wrapper
                var nombreArch = this.files[0].name;
                var MaxSizeKB = 1000;
                var MaxSize = MaxSizeKB * 1024;
                var maxFile = '<div class="alert alert-info maxFile"> El Archivo: ' + nombreArch + ' es mas grande de lo permitido, el tamaño maximo es de : ' + MaxSizeKB + ' kb </div>';
                if (window.File && window.FileReader && window.FileList && window.Blob) {
//alert(this.files[0].size + ' bytes');
                    if (this.files[0].size > MaxSize) {
                        //alert('El archivo no debe ser mayor de 1Mb'+ MaxSizeKB);
                        this.files[0].name = '';  // BORRAMOS EL VALOR DEL INPUT
                        $(wrapper).append(maxFile);
                    } else {
                        $(".maxFile").fadeOut(1000); // Add field html
                    }

                } else {
// IE
                    var Fs = new ActiveXObject("Scripting.FileSystemObject");
                    var ruta = document.upload.file.value;
                    var archivo = Fs.getFile(ruta);
                    var size = archivo.size;
                    //   alert(size + " bytes");
                    if (size > MaxSize) {
                        //alert('El archivo no debe ser mayor de 1Mb');
                        this.files[0].name = '';  // BORRAMOS EL VALOR DEL INPUT
                        $(wrapper).append(maxFile);
                    } else {
                        $(".maxFile").fadeOut(1000); // Add field html
                    }
                }

            });
        });




//<![CDATA[

        $(document).ready(function () {
            $('#subir').bind('change', function () {

                if (window.File && window.FileReader && window.FileList && window.Blob) {
                    alert(this.files[0].size + ' bytes');
                } else {
// IE
                    var Fs = new ActiveXObject("Scripting.FileSystemObject");
                    var ruta = document.upload.file.value;
                    var archivo = Fs.getFile(ruta);
                    var size = archivo.size;
                    alert(size + " bytes");
                }

            });
        });

//]]>
    </script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %} 

{% block carusel %} 
    <div class="page-header">
        <img src="{{ asset('assets/images/cabecera.png')}}" class="img-responsive" alt="Logo "/>
    </div>
{% endblock %}

{% block content %} 

    <br/>
    <h1>Inscritosimage creation</h1>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class ="modal-content">
                    <div class="modal-header inscripcion">
                        <h1>resto docu</h1>
                    </div>

                    {% for type, messages in app.session.flashbag.all() %} 
                        {#sacamos los mensages de error o que se ha realizado la acción#}
                        <div class= "alert alert-{{type}}"> 
                            {% for message in messages %}
                                {{message}} 
                            {% endfor %}
                        </div>
                    {% endfor %}
                    <br/>


                    {{form_start(form,{'enctype':'multipart/form-data'})}}
                    <fieldset>
                        <div class="field_wrapper">
                            <div class="row">
                                <div class="col-md-9 errorFormClass">
                                <!--    <input type="file" name="images[]"  value="" accept="video/*,image/*"  class="form-name form-control"/></div>-->

                            </div>
                        </div>
                        <div class="row">
                        <div id="addFile">         <a href="javascript:void(0);" class="add_button  btn btn-simple lime btn-xs" title="Add field">Añadir mas archivos</a></div>
</div>
                        <input name="val" type="hidden" id="val" value="{{ valida }}" />
                        <div class="row">
                            <div class="col-md-12 errorFormClass">
                                {# Add the reCAPTCHA div to show in form #}
                                <div class="g-recaptcha" data-sitekey="{{reCAPTCHA_data_sitekey}}"></div>
                            </div>
                        </div> 
                        {{ form_widget(form) }}
                        <input type="submit" value="AÑADIR ARCHIVOS " class="form-submit btn btn-success  pull-right"/>
                        {{ form_end(form) }}



                    </fieldset>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
    <br/>

{% endblock %}
