{% extends "AppBundle:Layout:layout.html.twig"%}
{% block js %}

    <script type="text/javascript">
        $(document).ready(function () {
// En cuanto se registre un cambio dentro del INPUT FILE verificamos el tamaño
            $(document).on('change', 'input[type="file"]', function () {
// this.files[0].size gets the size of your file.
// alert(this.files[0].size);
                $(".maxFile").fadeOut(1000); // Add field html
                var wrapper = $('.field_wrapper'); //Input field wrapper
                var nombreArch = this.files[0].name;
                var MaxSizeKB
                = {{security_size_file}};
                        var MaxSize = MaxSizeKB * 1024;
                var maxFile = '<div class="alert alert-info maxFile"> El Archivo: ' + nombreArch + ' es mas grande de lo permitido, el tamaño maximo es de : ' + MaxSizeKB + ' kb </div>';
                if (window.File && window.FileReader && window.FileList && window.Blob) {
//alert(this.files[0].size + ' bytes');
                    if (this.files[0].size > MaxSize) {
                        //alert('El archivo no debe ser mayor de 1Mb'+ MaxSizeKB);
                        this.files[0].name = '';  // BORRAMOS EL VALOR DEL INPUT
                        $(wrapper).append(maxFile);
                    }
                    //else {
                    //    $(".maxFile").fadeOut(1000); // Add field html
                    // }

                } else {
// IE
                    var Fs = new ActiveXObject("Scripting.FileSystemObject");
                    var ruta = document.upload.file.value;
                    var archivo = Fs.getFile(ruta);
                    var size = archivo.size;
                    //   alert(size + " bytes");
                    if (size > MaxSize) {
                        //alert('El archivo no debe ser mayor de 1Mb');
                        this.files[0].name = '';  // BORRAMOS EL VALOR DEL INPUT
                        $(wrapper).append(maxFile);
                    } else {
                        $(".maxFile").fadeOut(1000); // Add field html
                    }
                }

            });
        });




//]]>
    </script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}

{% block carusel %}
    <div class="page-header">
        <img src="{{ asset('assets/images/cabecera.png')}}" class="img-responsive" alt="Logo "/>
    </div>
{% endblock %}

{% block content %}

    <br/>


    {% if entries.0.content is defined and entries.0.content is not empty and entries.0.status == "public" %}

        <div class="caja">
            <h1>{{ entries.0.title| raw }}</h1>
            <p> {{ entries.0.content|nl2br}}</p>
        </div>
        <br/>
    {% endif%}

    <div class="modal-body">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class ="modal-content">
                    <div class="modal-header inscripcion">
                        {% if entries.1.content is defined and entries.1.content is not empty and entries.1.status == "public" %}


                            <h1>{{ entries.1.title| raw }}</h1>


                            <br/>
                        {% endif%}
                    </div>
                    <div class="modal-body envios">

                    {% for type, messages in app.session.flashbag.all() %}
                        {#sacamos los mensages de error o que se ha realizado la acción#}
                        <div class= "alert alert-{{type}}">
                            {% for message in messages %}
                                {{message}}
                            {% endfor %}
                        </div>
                        <p> </p>
                        {% if type=="success"%}

                            <p> Puede añadir otro archivo si lo desea </p>

                            <p>... o si ya ha terminado de enviar todos los archivos, tiene que cerrar  mediante ; </p>
                            <a href="{{path('finalizar',{'valida':valida })}}" class="btn btn-success">Validar datos</a>
                            <p> para que comencemos el proceso para validar sus datos</p>
                            <p></p>
                        {% endif %}
                    {% endfor %}
                    <p></p>

                    <div class="envioDocumentos">
                    <p> {{ entries.1.content|nl2br}}</p>
                  </div>

                    {{form_start(form,{'enctype':'multipart/form-data'})}}
                    <fieldset>
                    <legend>Añadir</legend>
                        <div class="field_wrapper">
                            <div class="row">
                                <div class="col-md-9 errorFormClass">
                                    <!--    {{ form_row(form.images) }}-->
                                    <input type="file" name="backendbundle_inscritosimages[images]"  value="" accept="video/*,image/*"  class="form-name form-control"/>
                                    </div>
                                    <div class="col-md-3 tipoImagen">Solo se admiten imágenes (extensión png,jpg,gif) </div>
                            </div>
                        </div>


                        <input name="val" type="hidden" id="val" value="{{ valida }}" />
                        <div class="row">
                            <div class="col-md-12 errorFormClass">
                                {# Add the reCAPTCHA div to show in form #}
                                <div class="g-recaptcha" data-sitekey="{{reCAPTCHA_data_sitekey}}"></div>
                            </div>
                        </div>
                        {{ form_widget(form) }}
                        <input type="submit" value="AÑADIR ARCHIVOS " class="form-submit btn btn-success  pull-right"/>
                        {{ form_end(form) }}



                    </fieldset>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
    <br/>
    {% if entries.2.content is defined and entries.2.content is not empty and entries.2.status == "public" %}

        <div class="caja">
            <h2>{{ entries.2.title| raw }}</h2>
            <p> {{ entries.2.content|nl2br}}</p>
        </div>
        <br/>
    {% endif%}
{% endblock %}
