{% extends "AppBundle:Layout:layout.html.twig"%}

{% block carusel %}
    <div class="page-header">
        <img src="{{ asset('assets/images/cabecera.png')}}" class="img-responsive" alt="Logo "/>
    </div>
{% endblock %}
{% block content %}
<p> </p>
<div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class ="modal-content">
           <!--     <div class="modal-header inscripcion">
                    <h1></h1>
                </div>-->
    <p> </p>
      {% for type, messages in app.session.flashbag.all() %}
                        {#sacamos los mensages de error o que se ha realizado la acción#}
                        <div class= "alert alert-{{type}}">
                            {{ messages[0]}}
                        </div>
{% if  messages[1]  is defined  %}
                        {% if messages[1]=="REGISTRO_OK" %}

                           <div class="caja gracias">
            <h2> Ahora puede seguir con su inscripcion</h2>
            <p> Continúe con el siguiente paso enviando la documentación necesaria.</p>
            <p> Para incluir el resto de documentación tiene que acceder en: </p>

            <p><a href="{{path('resto_docu', { 'valida': valida2 })}}"  class="form-submit btn btn-success  pull-right" >Incluir resto de documentación</a></p>

        </div>

  {% endif %}
                        {% endif %}

                    {% endfor %}
                    <p> </p>


            </div>
        </div>
                    <div class="col-md-2"></div>
</div> <br/><br/> <br/><br/>
{% endblock %}
