{% extends "AppBundle:Layout:layout.html.twig"%}


{% block content %} 


    <br/>

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class ="modal-content">
                <div class="modal-header inscripcion">
                    <h1>Proceso de Inscripción</h1>
                </div>

                <div class="modal-body">
                    {% for type, messages in app.session.flashbag.all() %} 
                        {#sacamos los mensages de error o que se ha realizado la acción#}

                        <div class= "alert alert-{{type}}"> 
                            {{ messages[0]}}
                        </div>
                        {% if messages[1]=="REGISTRO_OK" %}
                            {% if entries.0.content is defined and entries.0.content is not empty and entries.0.status == "public" %}


                                <h2>{{ entries.0.title| raw }}</h2>
                                <p> {{ entries.0.content|nl2br}}</p>


                            {% endif%}
                        {% endif %}
                    {% endfor %}

                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
    <br/>
    {% if entries.1.content is defined and entries.1.content is not empty and entries.1.status == "public" %}

        <div class="caja">
            <h2>{{ entries.1.title| raw }}</h2>
            <p> {{ entries.1.content|nl2br}}</p>
        </div>
        <br/>
    {% endif%}
{% endblock %}

