{% extends "BackendBundle:Layout:adminLayout.html.twig"%}

{% block body %}
    <h1>Editar acción</h1>
<a href="{{ path('acciones_index') }}"  class="btn btn-info btn-xs" >Volver a la lista de acciones</a> 
<br/><br/>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            
    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Editar" class="btn btn-success btn-xs separador pull-right "/>
    {{ form_end(edit_form) }}

   
                    <br/>
                    
            {% if accione.id >= 6 %}
                <hr/>
                <br/>
                {{ form_start(delete_form) }}
                <input type="submit"  value="Borrar" class="btn btn-danger btn-xs pull-right" onclick="return confirm('¿Esta Ud seguro de quere borrar este registro?')" />
                {{ form_end(delete_form) }}
            {% endif %}
        </div>
        <div class="col-md-2"></div>
    </div>
{% endblock %}
