{% extends "BackendBundle:Layout:adminLayout.html.twig"%}

{% block body %}
    <h1>Lista de acciones</h1>
   
        <br/>
            <a href="{{ path('acciones_new') }} " class="btn btn-success btn-xs" >Crear una nueva acción</a>
        <br/>
    
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Acción</th>
                <th>Descripción</th>
                <th> </th>
                 <th> </th>
            </tr>
        </thead>
        <tbody>
        {% for accione in acciones %}
            <tr>
                <td><a href="{{ path('acciones_show', { 'id': accione.id }) }}">{{ accione.id }}</a></td>
                <td>{{ accione.name }}</td>
                <td>{{ accione.description }}</td>
                <td>
                    
                            <a href="{{ path('acciones_show', { 'id': accione.id }) }}" class="btn btn-success btn-xs">Ver</a>
                        </td>
                        <td>
                            <a href="{{ path('acciones_edit', { 'id': accione.id }) }}" class="btn btn-success btn-xs">Editar </a>
                       
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
