{% extends "BackendBundle:Layout:adminLayout.html.twig"%}

{% block body %}
    <h1>Crear una nueva acción </h1>
<a href="{{ path('acciones_index') }}"  class="btn btn-info btn-xs" >Volver a la lista de acciones</a> 
<br/>
<br/>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Crear acción" class="form-submit btn btn-success"/>
    {{ form_end(form) }}

            </div>
        <div class="col-md-2"></div>
    </div>
{% endblock %}
