{% extends "BackendBundle:Layout:adminLayout.html.twig"%}

{% block body %}
    <h1>Acción  : "{{ accione.name }}"</h1>

    <br/>
<a href="{{ path('acciones_index') }}"  class="btn btn-info btn-xs" >Volver a la lista de acciones</a>  
     
    <br/>
    <p></p>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 caja_show">


            <div class="row"> Id  ; {{ accione.id }}</div>
            <div class="row"> Nombre de la Accion:  {{ accione.name }}</div>
            <div class="row"> Descripción : {{ accione.description }}</div>

            {% if (app.user.id is defined )%}


                {%if (app.user.role =="ROLE_SUPER_ADMIN" )%}
                    <br/>
                    <div class="row">  
                        <div class="col-md-6">


                            <a href="{{ path('acciones_edit', { 'id': accione.id }) }}"class="btn btn-success btn-xs">Editar</a>
                        </div>
                        <div class="col-md-6">  
                            {% if accione.id >= 6 %}
                                {{ form_start(delete_form) }}
                                <input type="submit" value="Borrar"   class="btn btn-danger btn-xs" onclick="return confirm('¿Esta Ud seguro de quere borrar este registro?')">
                                {{ form_end(delete_form) }}
                            {% endif %}
                        </div>

                    </div>

                {% endif %}
            {% endif %}  

        </div>
        <div class="col-md-2"></div>
    </div>
{% endblock %}
