<div style="overflow: hidden;">
    <font size=-1>
    <table width="100%" cellspacing="0" cellpadding="0" style="background:#efefef" align="center" height="auto">
        <tbody>
            <tr>
                <td><table id="header" border="0" cellspacing="0" cellpadding="0" width="700" bgcolor="#efefef" align="center" height="68">
                        <tbody>
                            <tr height="20">
                                <td width="150"></td>
                                <td width="548"></td>
                            </tr>
                            <tr>
                                <td height="32" valign="bottom" width="150"><a href="" target="_blank">
                                        <img style="VERTICAL-ALIGN:bottom" border="0" alt="Gestor de censos" src="{{ absolute_url(asset('assets/images/email_logo.png')) }}" width="333" height="39"></a></td>
                                <td style="COLOR:#ccc" class="" height="32" valign="bottom" width="548" align="right">&nbsp;</td>
                            </tr>
                            <tr height="11">
                                <td width="150"></td>
                                <td width="548"></td>
                            </tr>
                        </tbody>
                    </table></td>
            </tr>
        </tbody>
    </table>
    <table width="100%" align="center" style="background:rgb(239,239,239)" border="0" cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
                <td><table width="700" align="center" style="background:rgb(255,255,255);border:1px solid rgb(221,221,221)" border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td height="20"></td>
                            </tr>
                            <tr>
                                <td><table width="620" align="center" border="0" cellspacing="0" cellpadding="0">
                                        <tbody>
                                            <tr>
                                                <td height="20"></td>
                                            </tr>
                                            <tr>
                                                <td valign="top" style="color:rgb(255,102,0);line-height:32px;font-family:arial;font-size:24px"><p><span style="font-family:arial;font-size:24px;color:#ff660;line-height:32px">Por favor, confirme su correo electronico  </span></p></td>
                                            </tr>
                                            <tr>
                                                <td height="14"></td>
                                            </tr>
                                            <tr>
                                                <td valign="top" style="color:rgb(102,102,102);line-height:40px;font-family:arial;font-size:18px">Hola {{inscrito.nombreUsuario}}</td>
                                            </tr>
                                            <tr>
                                                <td style="color:rgb(102,102,102);line-height:18px;font-family:arial;font-size:12px"><p> Este es un mensaje enviado desde el gestor de censos para recuperar tu enlace para añadir mas documentación </p>

                                                    

                                                    <p>Para acceder puedes hacerlo mediente la siguiente url:</p>

                                                    <p><a style="FONT-FAMILY:arial;COLOR:#999;FONT-SIZE:14px;TEXT-DECORATION:underline" href="{{absolute_url(path('valida_correo', { 'valida': 'DK'~url_acceso }))}}" target="_blank"> 
                                                            {{absolute_url(path('valida_correo', { 'valida': 'DK'~url_acceso }))}} </a>
                                                        <br/>
                                                    </p>
                                                    <p> Si tu no has pedido el correo de acceso, no te preocupes, no tienes que realizar ninguna accion</p>
                                                    <p>El mensaje ha sido enviado desde la IP {{ ip }} </p>


                                                    <table width="100%" border="0">
                                                        <tr>
                                                            <td width="25%"> Datos de resitro son:
                                                                <br/>
                                                            </td>
                                                            <td width="75%">&nbsp;</td>
                                                        </tr>
                                                        <tr>
                                                            <td> Nombre: </td>
                                                            <td>{{ inscrito.nombreUsuario }} ;</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Apellido  </td>
                                                            <td> {{ inscrito.apellidoUsuario }} </td>
                                                        </tr>
                                                        <tr>
                                                            <td>Correo electronico </td>
                                                            <td>{{inscrito.correoUsuario }} ;</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Tipo de documento </td>
                                                            <td> {{ inscrito.tipodocumento }} </td>
                                                        </tr>
                                                        <tr>
                                                            <td>Numero de documento </td>
                                                            <td>{{ inscrito.documento }} </td>
                                                        </tr>
                                                        <tr>
                                                            <td>Fecha de nacimiento&nbsp;</td>
                                                            <td>{{ inscrito.fechanacimiento|date('d-m-Y') }}  </td>
                                                        </tr>
                                                        
                                                    </table>


                                                    <br>

                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table width="620" height="100" align="center" border="0" cellspacing="0" cellpadding="0">
                                        <tbody>
                                            <tr>
                                                <td width="450" style="color:rgb(102,102,102);line-height:18px;font-family:arial;font-size:12px"><p><br>
                                                        Atentamente,<br>
                                                        www-misitio.com <br>
                                                        Hora del envio<br>
                                                        <br>
                                                        Este es un correo automatico. Por favor, no conteste este email.</p></td>
                                                <td><img width="170" height="97" alt="" src="{{ absolute_url(asset('assets/images/email.png')) }}"></td>
                                            </tr>
                                        </tbody>
                                    </table></td>
                            </tr>
                            <tr>
                                <td height="20"></td>
                            </tr>
                        </tbody>
                    </table></td>
            </tr>
        </tbody>
    </table>
    <table style="BACKGROUND:#efefef" border="0" cellpadding="0" width="100%" align="center" height="auto">
        <tbody>
            <tr>
                <td>
                    <table style="BACKGROUND:#efefef" border="0" cellpadding="0" width="100%" align="center" height="auto">
                        <tbody>
                            <tr>
                                <td>
                                    <table  border="0" cellspacing="0" cellpadding="0" width="700" bgcolor="#efefef" align="center" height="165">
                                        <tbody>
                                            <tr>
                                                <td style="LINE-HEIGHT:18px;FONT-FAMILY:arial;COLOR:#999;FONT-SIZE:11px;padding:10px 0px 10px 0px" valign="bottom"><p align="center">
                                                        <a href="" target="_blank" ><img src="{{ absolute_url(asset('assets/images/email_pie.png')) }}" alt="Espacio de gestión de censos" width="700" height="150" border="0"></a></p></td>
                                            </tr>
                                            <tr>
                                                <td style="LINE-HEIGHT:18px;FONT-FAMILY:arial;COLOR:#999;FONT-SIZE:11px" valign="bottom"><p>Acceso al la web: 
                                                        <a style="FONT-FAMILY:arial;COLOR:#999;FONT-SIZE:11px;TEXT-DECORATION:underline" href="" target="_blank" >INICIO</a>

                                                        <span style="color:#999999">|</span>
                                                        <a style="FONT-FAMILY:arial;COLOR:#999;FONT-SIZE:11px;TEXT-DECORATION:underline" href="" target="_blank">Ayuda</a>
                                                        <span style="color:#999999">|</span> <a style="FONT-FAMILY:arial;COLOR:#999;FONT-SIZE:11px;TEXT-DECORATION:underline" href="" target="_blank">Contactar</a>
                                                        <br>

                                                        Este correo ha sido enviado a  <a href="mailto:{{ inscrito.correoUsuario }}" target="_blank">{{ inscrito.correoUsuario }}</a> <br>

                                                        Está recibiendo este correo ya que se está Ud registrando en <a style="FONT-FAMILY:arial;COLOR:#999;FONT-SIZE:11px;TEXT-DECORATION:underline" href="{{path('homepage')}}" target="_blank" >{{path('homepage')}}</a>. <br>
                                                        Lea nuestra<a style="COLOR:#999;TEXT-DECORATION:underline" href="" target="_blank" > politica de privacidad y terminos de uso. <br>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    <br>
    </font>
</div>
