{% extends "BackendBundle:Layout:adminLayout.html.twig"%}

{% block body %}
    <h1>Inscritosimages list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Idinscrito</th>
                <th>Images</th>
                <th>Fecha</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for inscritosImage in inscritosImages %}
            <tr>
                <td><a href="{{ path('inscritosimages_show', { 'id': inscritosImage.id }) }}">{{ inscritosImage.id }}</a></td>
                <td>{{ inscritosImage.idInscrito }}</td>
                <td>{{ inscritosImage.images }}</td>
                <td>{% if inscritosImage.fecha %}{{ inscritosImage.fecha|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('inscritosimages_show', { 'id': inscritosImage.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('inscritosimages_edit', { 'id': inscritosImage.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('inscritosimages_new') }}">Create a new inscritosImage</a>
        </li>
    </ul>
{% endblock %}
