{% extends "BackendBundle:Layout:adminLayout.html.twig"%}

{% block body %}
    <h1>Inscritosimage</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ inscritosImage.id }}</td>
            </tr>
            <tr>
                <th>Idinscrito</th>
                <td>{{ inscritosImage.idInscrito }}</td>
            </tr>
            <tr>
                <th>Images</th>
                <td>{{ inscritosImage.images }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{% if inscritosImage.fecha %}{{ inscritosImage.fecha|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('inscritosimages_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('inscritosimages_edit', { 'id': inscritosImage.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
