{% extends 'base.html.twig' %}

{% block body %}
    <h1>Actividadusers list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Actividadid</th>
                <th>Actividad</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for actividadUser in actividadUsers %}
            <tr>
                <td><a href="{{ path('actividaduser_show', { 'id': actividadUser.id }) }}">{{ actividadUser.id }}</a></td>
                <td>{{ actividadUser.actividadId }}</td>
                <td>{{ actividadUser.actividad }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('actividaduser_show', { 'id': actividadUser.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('actividaduser_edit', { 'id': actividadUser.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('actividaduser_new') }}">Create a new actividadUser</a>
        </li>
    </ul>
{% endblock %}
