{% extends 'base.html.twig' %}

{% block body %}
    <h1>Actividaduser</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ actividadUser.id }}</td>
            </tr>
            <tr>
                <th>Actividadid</th>
                <td>{{ actividadUser.actividadId }}</td>
            </tr>
            <tr>
                <th>Actividad</th>
                <td>{{ actividadUser.actividad }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('actividaduser_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('actividaduser_edit', { 'id': actividadUser.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
