{% extends "AppBundle:Layout:layout.html.twig"%}
{% block content %}

    {#
    {% if app.user != null %}
      {{dump(app.user)}}
    {% endif %}
    #}

    <section class="featured first">
        <br/>
        <br/>
    </section>


    <section id="section-contact" class="section appear clearfix">
        <div id="contenedor">

            <div class="section">

                <div class="container">
                    <div class="col-lg-4"></div>
                    <div class="col-lg-4">

                        <h2>Acceso usuarios autorizados</h2>   
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        {% if is_granted('ROLE_USER')%}
                            <div class="alert alert-success"> Esta logueado  correctamente</div>
                        {% endif %}
                        {% if is_granted('ROLE_ADMIN')%}

                            {% if is_granted('ROLE_SUPER_ADMIN')%}
                                <div class="alert alert-success"> Esta accediendo como <br/>Super administrador</div>
                                {% else %} 
                                <div class="alert alert-success"> Esta accediendo como administrador</div>
                            {% endif %}

                        {% endif %}
                        <fieldset>
                            <form action="{{path("login_check")}}" method="post">
                                <br/><br/>
                                <div class="control-group">
                                    <div class="controls">
                                        <label> Email </label>
                                        <input type="email" id="username" name="_username" value="{{ last_username }}" class="form-control" placeholder="Su correo electronico" required  />

                                    </div>
                                </div> 	
                                <div class="control-group">
                                    <div class="controls">
                                        <label> Password</label>
                                        <input type="password" class="form-control" placeholder="Su password" id="password" name="_password" required  />

                                    </div>
                                </div> 	
                                <div class="control-group">
                                    <div class="controls">
                                        <input type="checkbox" id="remember_me" name="_remember_me"   />
                                        <label for="remember_me">Recordarme en este ordenador</label>
                                    </div>
                                </div> 
                                <br/>
                                <div class="control-group">
                                    <div class="controls">
                                        <div id="success"> </div> <!-- mensajes -->

                                        <input type="submit" value="Entrar" class="btn btn-success btn-group-justified"/>
                                        <input type="hidden" name="_target_path" value="/login" />
                                    </div>
                                </div>
                            </form>  
                        </fieldset>

                    </div>


                    <div class="col-lg-4"></div>
                    <div class="clearfix">  </div>
                </div>
            </div>			
        </div>
    </section>
{% endblock %}