{% extends "BackendBundle:Layout:adminLayout.html.twig"%}

{% block body %}
    <h1>Preferencias list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Preferencia</th>
                <th>Dato</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for preferencia in preferencias %}
            <tr>
                <td><a href="{{ path('preferencias_show', { 'id': preferencia.id }) }}">{{ preferencia.id }}</a></td>
                <td>{{ preferencia.preferencia }}</td>
                <td>{{ preferencia.dato }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('preferencias_show', { 'id': preferencia.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('preferencias_edit', { 'id': preferencia.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('preferencias_new') }}">Create a new preferencia</a>
        </li>
    </ul>
{% endblock %}
