{% extends "BackendBundle:Layout:adminLayout.html.twig"%}

{% block body %}
    <h1>Preferencia</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ preferencia.id }}</td>
            </tr>
            <tr>
                <th>Preferencia</th>
                <td>{{ preferencia.preferencia }}</td>
            </tr>
            <tr>
                <th>Dato</th>
                <td>{{ preferencia.dato }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('preferencias_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('preferencias_edit', { 'id': preferencia.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
