{% extends "BackendBundle:Layout:adminLayout.html.twig"%}

{% block body %}
    <h1>Lista de Usuarios</h1>
    
    <a href="{{ path('users_new') }}"   class="btn btn-success btn-xs pull-right">Creear nuevo usuario</a>
    <br/>
    <br/><br/>
    {% set directionParam = pagination.getPaginatorOption('sortDirectionParameterName') %}
    {% set params = pagination.getParams() %}
    {% set direction = params[directionParam] is defined ? params[directionParam] : null %}


    <table   class="table table-hover">
        <thead>
            <tr>
                <th> 
                     
                       
                        ID
                     
                </th>
                <th>
                    <button type="button" class="btn btn-default btn-block btn-xs">
                        {% if pagination.isSorted('e.nick') %}
                            {% if direction =="asc" %}
                                <span class="glyphicon glyphicon-triangle-top" ></span>
                            {% else %}
                                <span class="glyphicon glyphicon-triangle-bottom" ></span>
                            {% endif %}
                        {% else %}
                            <span class="glyphicon glyphicon-triangle-right" ></span>
                        {% endif %}
                        {{ knp_pagination_sortable(pagination, 'Nick', 'e.nick') }} 
                    </button>
                </th> 
                <th>
                    <button type="button" class="btn btn-default btn-block btn-xs">
                        {% if pagination.isSorted('e.email') %}
                            {% if direction =="asc" %}
                                <span class="glyphicon glyphicon-triangle-top" ></span>
                            {% else %}
                                <span class="glyphicon glyphicon-triangle-bottom" ></span>
                            {% endif %}
                        {% else %}
                            <span class="glyphicon glyphicon-triangle-right" ></span>
                        {% endif %}
                        {{ knp_pagination_sortable(pagination, 'Email', 'e.email') }}
                    </button>
                </th>
                <th>
                    <button type="button" class="btn btn-default btn-block btn-xs">
                        {% if pagination.isSorted('e.name') %}
                            {% if direction =="asc" %}
                                <span class="glyphicon glyphicon-triangle-top" ></span>
                            {% else %}
                                <span class="glyphicon glyphicon-triangle-bottom" ></span>
                            {% endif %}
                        {% else %}
                            <span class="glyphicon glyphicon-triangle-right" ></span>
                        {% endif %}
                        {{ knp_pagination_sortable(pagination, 'Nombre', 'e.name') }}
                    </button>
                </th>
                <th>
                    <button type="button" class="btn btn-default btn-block btn-xs">
                        {% if pagination.isSorted('e.surname') %}
                            {% if direction =="asc" %}
                                <span class="glyphicon glyphicon-triangle-top" ></span>
                            {% else %}
                                <span class="glyphicon glyphicon-triangle-bottom" ></span>
                            {% endif %}
                        {% else %}
                            <span class="glyphicon glyphicon-triangle-right" ></span>
                        {% endif %}
                        {{ knp_pagination_sortable(pagination, 'Apellido', 'e.surname') }}
                    </button>
                </th>  
                <th>
                   Activo
                </th> 
                <th>
                    <button type="button" class="btn btn-default btn-block btn-xs">
                        {% if pagination.isSorted('e.role') %}
                            {% if direction =="asc" %}
                                <span class="glyphicon glyphicon-triangle-top" ></span>
                            {% else %}
                                <span class="glyphicon glyphicon-triangle-bottom" ></span>
                            {% endif %}
                        {% else %}
                            <span class="glyphicon glyphicon-triangle-right" ></span>
                        {% endif %}
                        {{ knp_pagination_sortable(pagination, 'NIvel', 'e.role') }}
                    </button>
                </th>  
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for user in pagination %}
                <tr>
                    <td><a href="{{ path('users_show', { 'id': user.id }) }}">{{ user.id }}</a></td>
                    <td>{{ user.nick }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.surname }}</td>   
                    <td>{% if user.isActive %}Si{% else %}No{% endif %}</td>
                    <td>{{ user.role }}</td>
                    <td><a href="{{ path('users_show', { 'id': user.id }) }}"  class="btn btn-success btn-xs">Ver</a></td>
                    <td><a href="{{ path('users_edit', { 'id': user.id }) }}"  class="btn btn-success btn-xs">Editar</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="count">
        <span class="label label-primary">
            Entradas en total: {{ pagination.getTotalItemCount }}
        </span>
    </div>
    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>



{% endblock %}
