{% extends "BackendBundle:Layout:adminLayout.html.twig"%}

{% block body %}
    <h1>Crear un administrador</h1>
    <a href="{{ path('users_index') }}" class="form-submit btn btn-info" >Volver a la lista de Administradores</a>

   <br/>

   <p></p>

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">

            <div class ="modal-content">
                <div class="modal-body">
                    <fieldset>

                        {{ form_start(form) }}

                        <div class="row">
                            <div class="col-md-6 errorFormClass">

                                {{ form_row(form.name) }}

                            </div>
                            <div class="col-md-6 errorFormClass">
                                {{ form_row(form.surname) }}
                            </div>
                        </div>

                        <div class="row correoclass">

                            <div class="col-md-6 errorFormClass">
                                {{ form_row(form.email.first) }}

                            </div>
                            <div class="col-md-6 errorFormClass">
                                {{ form_errors(form.email) }}
                                {{ form_row(form.email.second) }}

                            </div>
                        </div>
                        <div  id ="pais_espana"  class="row">
                            <div class="col-md-6  selector errorFormClass">
                                {{ form_row(form.idProvincia) }}
                            </div>
                            <div id="ver_municipios" class="col-md-6  selector errorFormClass">
                                {{ form_row(form.idMunicipio) }}
                                <!-- <label for="class_select_municipio">Municipio </label>
                                <select name="backendbundle_inscritos[municipioInscritos]" id="backendbundle_inscritos_municipioInscritos" class="form-name form-control class_select_municipio"> -->
                                </select>
                            </div>
                        </div> 
                        <div class="row">
                            <div class="col-md-6 errorFormClass">

                                {{ form_row(form.nif) }}

                            </div>
                            <div class="col-md-6 errorFormClass">
                                {{ form_row(form.role) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 errorFormClass">

                                {{ form_row(form.bloqueo) }}

                            </div>
                            <div class="col-md-6 errorFormClass">
                                {{ form_row(form.razonBloqueo) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 errorFormClass">
                                <div class="input-group"> 
                                    {% set randomPassword = [] %}
                                    {% set alpha = 'abcdefghijklmnopqrstuvwxyz' %}
                                    {% set numbers = '0123456789' %}

                                    {% for i in 1..10 %}
                                        {% set randomCharacter = random(alpha ~ alpha|upper ~ numbers ~ '-_!?') %}
                                        {% set randomPassword = randomPassword|merge([randomCharacter]) %}
                                    {% endfor %}
                                    {% set randomPassword = randomPassword|join %}

                                    {{ form_row(form.password, {'value' :  randomPassword  }) }}


                                </div>
                            </div>
                            <div class="col-md-6 errorFormClass">
                                {{ form_row(form.enviar) }}
                            </div>
                        </div>   


                        {{ form_widget(form) }}
                        <input type="submit" value="Crear Administrador" class="form-submit btn btn-success  pull-right" />
                        {{ form_end(form) }}


                    </fieldset>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
                       
{% endblock %}

{% block js %}
    <script type="text/javascript">
        $(document).ready(function () {
        
  capa3 = $("#ver_municipios");
                {% if user.idProvincia!="" %}
                        var data = {
                            provincia_id:{{user.idProvincia.id}}
                        };
                        
                        
                        $.ajax({
                            type: 'POST',
                            url: "{{ path('recupera_municipio') }}",
                            //url: URL + '/muni-test',
                            data: data,
                            success: function (data) {
                                var $muni_selector = $('.class_select_municipio');
                    {% if user.idMunicipio!="" %}
                                    $muni_selector.html('<option value="{{user.idMunicipio.idMunicipio}}">{{user.idMunicipio.nombre}}</option>');
                    {% else %}
                                    $muni_selector.html('<option>Selecciona un municipio</option>');
                    {% endif %}

                                    for (var i = 0, total = data.length; i < total; i++) {

                                        $muni_selector.append('<option value="' + data[i].idMunicipio + '">' + data[i].nombre + '</option>');
                                    }
                                    capa3.show(1000);
                                    //capa3.focus();
                                }
                            });
                {% else %}
                        document.getElementById('ver_municipios').style.display = 'none';

                {% endif %}

            });
    </script>


    <script>
        $(document).ready(function () {
            $(".class_select_provincia").change(function () {
                var data = {
                    provincia_id: $(this).val()
                };

                $.ajax({
                    type: 'POST',
                    url: "{{ path('recupera_municipio') }}",
                    //url: URL + '/muni-test',
                    data: data,
                    success: function (data) {
                        var $muni_selector = $('.class_select_municipio');
                        $muni_selector.html('<option>Selecciona un municipio</option>');

                        for (var i = 0, total = data.length; i < total; i++) {

                            $muni_selector.append('<option value="' + data[i].idMunicipio + '">' + data[i].nombre + '</option>');
                        }
                        capa3.show(1000);
                        //capa3.focus();
                    }
                });
            });
        });

    </script> 

{% endblock%}