{% extends "BackendBundle:Layout:adminLayout.html.twig"%}

{% block body %}


    <a href="{{ path('users_index') }}"  class="btn btn-info btn-xs" >Volver a la lista de Administradores</a>   
    <h1>Inscripción de : " {{ user.name }}   {{ user.surname }} "</h1>


    <br/>
    <br/>
    <p></p>

    <div class="row">
        <div class="col-md-2"></div>

        <div class="col-md-8 ">
            <div class ="modal-content">
                <div class="caja_show">

                    <div class="row"> Numero de Administrador : {{ user.id  }}</div>

                    <div class="row">
                        <div class="col-md-6"> Nombre  :{{ user.name }} </div>
                        <div class="col-md-6"> Apellido  :{{ user.surname }}</div>
                    </div>
                    <div class="row"><div class="col-md-6"> Roll : {{ user.role }} </div></div>
                    <div class="row"> 
                        <div class="col-md-6"> Correo electronico : {{ user.email }}</div>  
                        <div class="col-md-6"> Esta activo : {% if user.isActive %}SI{% else %}No{% endif %} </div>
                    </div>
                    <div class="row"> 
                        <div class="col-md-6"> DNI : {{ user.nif }}</div>
                        <div class="col-md-6"></div>
                    </div>


                    <div class="row">
                        <div class="col-md-4">Esta Bloqueado : {{ user.bloqueo }}</div>
                        <div class="col-md-8"> Razón bloqueo : {{ user.razonBloqueo }}</div>
                    </div>
                    <div class="row"><br/> Perfil : <br/> {{ user.bio }}
                        <br/>
                    </div>


                    <div class="row">
                        <div class="col-md-12"> 
                            <a href="{{ path('users_edit', { 'id': user.id }) }}" class="btn btn-success btn-xs btn-block" >Editar</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-9"></div>
                        <div class="col-md-3">
                            {{ form_start(delete_form) }}
                            <input type="submit" value="Borrar"  class="btn btn-danger btn-xs btn-block" onclick="return confirm('¿Esta Ud seguro de quere borrar este registro?')">
                            {{ form_end(delete_form) }}


                            {{ form_end(delete_form) }}
                        </div>
                    </div>


                </div>
            </div>

        </div>
        <div class="col-md-9"></div>
        <br/>
        <div class="col-md-3">
            <a href="{{ path('users_validainscritos', { 'id': user.id ,'user': user.name~" " ~ user.surname }) }} " class="btn btn-success btn-xs btn-block" >Inscritos validados por este usuario</a>
          
        </div>
        <div class="col-md-2"></div>
    </div>
{% endblock %}
