{% extends "AppBundle:Layout:layout.html.twig"%}


{% block carusel %}
    <section class="featured first">


        <div id="contenedor">

            <!-- Comienzo del carrusel  -->
            <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="5000" >
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    {% set counter = 0 %}
                    {% for slider in sliders %}
                        <li data-target="#myCarousel" data-slide-to="{{counter}}" {% if counter==0 %}class="active" {%endif%}></li>

                        {% set counter = counter + 1 %}
                    {% endfor %}
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    {% set counter2 = 0 %}
                    {% for slider in sliders %}
                        <div class="item {% if counter2==0 %}active{%endif%}">

                            <div class="fill" ><img  src="{{ asset(saved_file~"/"~slider.image) }}" alt="{{ slider.title| raw }}" class="img-responsive center-block"/></div>
                            <div class="carousel-caption">
                                <h1>{{ slider.title| raw }}</h1>
                            </div>
                        </div>
                        {% set counter2 = counter + 1 %}
                    {% endfor %}

                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                    <span class="icon-prev"></span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                    <span class="icon-next"></span>
                </a>
            </div>

            <!--  Fin de carrusel  -->

        </div>
    </section>

{% endblock %}




{% block content %}
    <div class="jumbotron inicio_jumbotron">
        <div class="container">
            <h2>{{ entries.0.title| raw }}</h2>
          <p class="texto_inicio">  {{ entries.0.content| raw }}</p>
            <p></p>
            <p>
                <a class="btn btn-primary btn-lg" href="{{path("registro")}}" role="button">Es la primera vez y quiero Registrarme</a>
                <a class="btn btn-default btn-lg pull-right" href="{{path("recupera")}}" role="button">Empecé mi resgistro y quiero terminarlo</a>
            </p>
        </div>
    </div>


    <!--  columns -->
    <div class="row">
        <div class="col-md-4 columna_inicio">
            <h3>{{ entries.1.title| raw }}</h3>
            {{ entries.1.content| raw }}

        </div>
        <div class="col-md-4 columna_inicio">
            <h3> {{ entries.2.title| raw }}</h3>
            {{ entries.2.content| raw }}

        </div>
        <div class="col-md-4 columna_inicio">
            <h3> {{ entries.3.title| raw }}</h3>
            {{ entries.3.content| raw }}
        </div>
    </div>

{% if entries.4.content is defined and entries.4.content is not empty and entries.4.status == "public" %}
    <div class="row">
    <div class="col-md-12 pie_inicio">
        <h3> {{ entries.4.title| raw }}</h3>
        {{ entries.4.content| raw }}
    </div>
    </div>
    {% endif %}
{% endblock %}
