{% extends "BackendBundle:Layout:adminLayout.html.twig"%}
{% block css %}  
    <link  href="{{ asset('assets/bootstrap-datepicker-1.6.4-dist/css/bootstrap-datepicker3.min.css')}}" rel="stylesheet">
    <!--<link id="bsdp-css" href="{{ asset('assets/select2-4.0.5/css/select2.min.css')}}" rel="stylesheet">-->
{% endblock %} 

{% block js %}
   <!-- <script src="{{ asset('assets/select2-4.0.5/js/select2.js')}}" charset="UTF-8"></script>-->
    <script src="{{ asset('assets/bootstrap-datepicker-1.6.4-dist/js/bootstrap-datepicker.min.js')}}"></script>
    <script src="{{ asset('assets/bootstrap-datepicker-1.6.4-dist/locales/bootstrap-datepicker.es.min.js')}}" charset="UTF-8"></script>
    <script src="{{ asset('assets/js/custom/custom.js')}}" charset="UTF-8"></script>
    <script src="{{ asset('assets/js/custom/inscritos.js')}}" charset="UTF-8"></script>


    <script type="text/javascript">
        $(document).ready(function () {
        {% if inscrito.pais!= "" %}
            {% if inscrito.pais== "ES" %}         
                document.getElementById('otros_paises').style.display = 'none';
                {% if inscrito.provinciaInscritos!="" %}
                        var data = {
                            provincia_id:{{inscrito.provinciaInscritos.id}}
                        };
                        $.ajax({
                            type: 'POST',
                            url: "{{ path('recupera_municipio') }}",
                            //url: URL + '/muni-test',
                            data: data,
                            success: function (data) {
                                var $muni_selector = $('.class_select_municipio');
                    {% if inscrito.municipioInscritos!="" %}
                                    $muni_selector.html('<option value="{{inscrito.municipioInscritos.idMunicipio}}">{{inscrito.municipioInscritos.nombre}}</option>');
                    {% else %}
                                    $muni_selector.html('<option>Selecciona un municipio</option>');
                    {% endif %}

                                    for (var i = 0, total = data.length; i < total; i++) {

                                        $muni_selector.append('<option value="' + data[i].idMunicipio + '">' + data[i].nombre + '</option>');
                                    }
                                    capa3.show(1000);
                                    //capa3.focus();
                                }
                            });
                {% else %}
                        document.getElementById('ver_municipios').style.display = 'none';

                {% endif %}

            {% else %}
                    document.getElementById('pais_espana').style.display = 'none';
            {% endif%}
        {% else %}   
                    document.getElementById('otros_paises').style.display = 'none';
                    document.getElementById('ver_municipios').style.display = 'none';
        {% endif %}
                capa = $("#pais_espana");
                capa2 = $("#otros_paises");
                capa3 = $("#ver_municipios");

                $('#backendbundle_inscritos_pais').change(function () {
                    var id_pais = $('#backendbundle_inscritos_pais').val();


                    if (id_pais == "ES") {
                        capa.show(1000);
                        capa2.hide(1000);
                    } else {
                        capa2.show(1000);
                        capa.hide(1000);

                    }
                })


            });
    </script>


    <script>
        $(document).ready(function () {
            $(".class_select_provincia").change(function () {
                var data = {
                    provincia_id: $(this).val()
                };
                $.ajax({
                    type: 'POST',
                    url: "{{ path('recupera_municipio') }}",
                    //url: URL + '/muni-test',
                    data: data,
                    success: function (data) {
                        var $muni_selector = $('.class_select_municipio');
                        $muni_selector.html('<option>Selecciona un municipio</option>');

                        for (var i = 0, total = data.length; i < total; i++) {

                            $muni_selector.append('<option value="' + data[i].idMunicipio + '">' + data[i].nombre + '</option>');
                        }
                        capa3.show(1000);
                        //capa3.focus();
                    }
                });
            });
        });

    </script> 

{% endblock %}


{% block body %}
    <a href="{{ path('inscritos_index') }}" class="btn btn-info btn-xs" >Volver a la lista de inscritos</a>    

    <h1>Editar incripción</h1>


    <div class="modal-body">
        {% for type, messages in app.session.flashbag.all() %} 
            {#sacamos los mensages de error o que se ha realizado la acción#}
            <div class= "alert alert-{{type}}"> 
                {% for message in messages %}
                    {{message}} 
                {% endfor %}
            </div>
        {% endfor %}
        <br/>

        {{ form_start(edit_form , {attr: {novalidate: 'novalidate'}}) }}
        {{ form_errors(edit_form ) }}

        <fieldset>
            <legend>Datos personales</legend>
            <div class="row">
                <div class="col-md-6 errorFormClass">

                    {{ form_row(edit_form.nombreUsuario) }}

                </div>
                <div class="col-md-6 errorFormClass">
                    {{ form_row(edit_form.apellidoUsuario) }}
                </div>
            </div>
            <div class="row correoclass">

                <div class="col-md-6 errorFormClass">
                    {{ form_row(edit_form.correoUsuario.first) }}

                </div>
                <div class="col-md-6 errorFormClass">
                    {{ form_errors(edit_form.correoUsuario) }}
                    {{ form_row(edit_form.correoUsuario.second) }}

                </div>
            </div>

            <div class="row  errorFormClass">
                <div class="col-md-6 selector errorFormClass">
                    {{ form_row(edit_form.tipodocumento) }}
                </div>
                <div class="col-md-6 errorFormClass">
                    {{ form_row(edit_form.documento) }}
                </div>
            </div>

            <div class="row ">
                <div class="col-md-6 selector errorFormClass" >
                    {{ form_row(edit_form.fechanacimiento) }}
                </div>
                <div class="col-md-6 errorFormClass">
                    {{ form_row(edit_form.telefono) }}
                </div>
            </div>

        </fieldset>

        <fieldset>
            <legend>Datos censales</legend>
            <div class="row">
                <div class="col-md-6  selector errorFormClass">
                    {{ form_row(edit_form.pais) }}
                </div>
                <div class="col-md-6 ">

                </div>
            </div>

            <div id ="otros_paises" class="row">
                <div class="col-md-6 errorFormClass">
                    {{ form_row(edit_form.provinciaotros) }}
                </div>
                <div class="col-md-6 errorFormClass">
                    {{ form_row(edit_form.municipiootros) }}
                </div>
            </div>

            <div  id ="pais_espana"  class="row">
                <div class="col-md-6  selector errorFormClass">
                    {{ form_row(edit_form.provinciaInscritos) }}
                </div>
                <div id="ver_municipios" class="col-md-6  selector errorFormClass">
                    {{ form_row(edit_form.municipioInscritos) }}
                    <!-- <label for="class_select_municipio">Municipio </label>
                    <select name="backendbundle_inscritos[municipioInscritos]" id="backendbundle_inscritos_municipioInscritos" class="form-name form-control class_select_municipio"> -->
                    </select>
                </div>
            </div>    


            <div class="row">
                <div class="col-md-3 errorFormClass">
                    {{ form_row(edit_form.codigopostal) }}
                </div>
                <div class="col-md-9 errorFormClass">
                    {{ form_row(edit_form.direccion) }}
                </div>
            </div>  

            <div class="row">
                <div class="col-md-12 errorFormClass">
                    {{ form_row(edit_form.lugarparticipacion) }}
                </div>

            </div> 
        </fieldset>
        <br/>

        <p>Archivos asociados</p> 
        <table  class="table table-hover">
            <thead>
                <tr>
                    <td> Fecha </td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                {% for datImages in inscrito.imagenes %}

                    <tr>        
                        <td> {% if datImages.fecha%}{{ datImages.fecha|date('Y-m-d') }}{% endif %}</td>
                        <td><img  src="{{ asset("../"~security_saved_file~""~datImages.images) }}" width="300" /> {{ datImages.images}} </td>

                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if (app.user.role=="ROLE_MEDIUN_ADMIN" or app.user.role =="ROLE_SUPER_ADMIN"  )%}               
            {{ form_widget(edit_form) }}

            <div class="row">
                <div class="col-md-12 errorFormClass">
                    <input type="submit" value="EDITAR"  class="form-submit btn btn-success  pull-right" />
                </div>
            </div> 

            {{ form_end(edit_form) }}



            {{ form_start(delete_form) }}
            <div class="row">
                <div class="col-md-12 errorFormClass">
                    <input type="submit" value="BORRAR"  class="btn btn-danger btn-xs pull-right" >

                </div>
            </div> 
            {{ form_end(delete_form) }}

        </div>       
    {% endif %}
</div>


</div>
<div class="col-md-2"></div>







{% endblock %}
