{% extends "BackendBundle:Layout:adminLayout.html.twig"%}

{% block body %}
    <h1>{{ title }}</h1>

    
     <a href="{{ path('export_format', { 'format': "csv" , 'type': type  }) }}"  class="btn btn-success btn-xs  btn-block">Exportar a csv</a><br/>
     
     <table  class="table table-hover">
        <thead>
            <tr>

                <th>
                    {{ knp_pagination_sortable(pagination, 'ID', 'e.id') }}
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Nombre', 'e.nombreUsuario') }}
                </th>
                <th>

                    {{ knp_pagination_sortable(pagination, 'Apellido', 'e.apellidoUsuario') }}
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Correo', 'e.correoUsuario') }}
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Tipo', 'e.tipodocumento') }}
                </th>
                <th>
                    {{ knp_pagination_sortable(pagination, 'Documento', 'e.documento') }}</i>
                </th>

                <th>Provincia</th>

                <th>Fecha inscritpcion</th>
                <th>Acciones</th>
                <th> Validado </th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
            {% for inscrito in pagination %}
                {% set validado=null %}
                <tr>
                    <td><a href="{{ path('inscritos_show', { 'id': inscrito.id }) }}">{{ inscrito.id }}</a></td>
                    <td>{{ inscrito.nombreUsuario }}</td>
                    <td>{{ inscrito.apellidoUsuario }}</td>
                    <td>{{ inscrito.correoUsuario }}</td>

                    <td>{{ inscrito.tipodocumento }}</td>
                    <td>{{ inscrito.documento }}    </td>

                    <td>{{ inscrito.provinciaotros }}{{ inscrito.provinciaInscritos.provincia }} </td>
                    <td>{% if inscrito.fechainscritpcion %}{{ inscrito.fechainscritpcion|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td> 

                        <ul>
                            {% for accion in inscrito.inscritosAcciones %}
                                {% if  (accion.status == 2) %}
                                    <li class ="smal"> <strong>{{accion.acciones}} </strong></li> 
                                     
                                        {% set validado ="validado" %}{# se mete una variable para saber que esta validado por accion marcada como validado #}
                                   {% else %} 
                                       <li class ="small"> {{accion.acciones}} </li> 
                                {% endif %}
                                {% endfor %}
                        </ul>
                    </td>
                    <th> 

                        {% if inscrito.validaInscritos|length >= numeroValidadores and validado == "validado" %}
                            si 
                        {% else %} 
                            no
                        {%endif%}
                        
                        {% if (app.user.role=="ROLE_MEDIUN_ADMIN" or app.user.role =="ROLE_SUPER_ADMIN"  )%}
                            {% if inscrito.validaInscritos|length >=1 %}
                            <a href="{{ path('validainscritos_inscrito', { 'id': inscrito.id }) }}"  class="btn btn-success btn-xs  btn-block">Validadores</a>
                            {% endif %}
                            {% if inscrito.validaInscritos|length >= numeroValidadores and validado != "validado" %}
                                <div class="alert alert-danger" role="alert"> Hay un error! No coincide el numero de validadores necesarios con la accion de validado </div>
                            {% elseif inscrito.validaInscritos|length < numeroValidadores and validado == "validado" %}    
                                <div class="alert alert-danger" role="alert">Hay un error! No coincide el numero de validadores necesarios con la accion de validado </div>
                            {% endif %}
                        {% endif %} 
                        
                    </th>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('inscritos_show', { 'id': inscrito.id }) }}"  class="btn btn-info btn-xs  btn-block">Ver 

                                    {% set puedeValidar= 'SI' %}
                                    {% for validadores in inscrito.validaInscritos %}
                                        {%   if app.user.id == validadores.users.id %}
                                            {% set puedeValidar= 'NO' %}                
                                        {%endif%}
                                    {%endfor%}

                                    {% if puedeValidar== 'SI' %}{# si no ha validado antes, incluimos el vaidar #}
                                        / Validar 
                                    {% endif %}
                                </a>
                            </li>

                            {% if (app.user.role=="ROLE_MEDIUN_ADMIN" or app.user.role =="ROLE_SUPER_ADMIN"  )%}

                                <li>
                                    <a href="{{ path('inscritos_edit', { 'id': inscrito.id }) }}"  class="btn btn-success btn-xs  btn-block">Editar</a>
                                </li>
                            {% endif %}
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="count">
        <span class="label label-primary">
            Inscritos en total: {{ pagination.getTotalItemCount }}
        </span>
    </div>
    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>

{% endblock %}
