{% extends 'base.html.twig' %}

{% block body %}
    <h1>Inscritos list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombreusuario</th>
                <th>Apellidousuario</th>
                <th>Telefono</th>
                <th>Correousuario</th>
                <th>Validadocorreo</th>
                <th>Tipodocumento</th>
                <th>Documento</th>
                <th>Fechanacimiento</th>
                <th>Pais</th>
                <th>Provinciaotros</th>
                <th>Municipiootros</th>
                <th>Codigopostal</th>
                <th>Direccion</th>
                <th>Lugarparticipacion</th>
                <th>Fechainscritpcion</th>
                <th>Ipinscripcion</th>
                <th>Cadenaseg</th>
                <th>Bloqueo</th>
                <th>Razonbloqueo</th>
                <th>Perfil</th>
                <th>Fechacontrol</th>
                <th>Idmunicipio</th>
                <th>Idprovincia</th>
                <th>Idccaa</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for inscrito in inscritos %}
            <tr>
                <td><a href="{{ path('inscritos_show', { 'id': inscrito.id }) }}">{{ inscrito.id }}</a></td>
                <td>{{ inscrito.nombreUsuario }}</td>
                <td>{{ inscrito.apellidoUsuario }}</td>
                <td>{{ inscrito.telefono }}</td>
                <td>{{ inscrito.correoUsuario }}</td>
                <td>{{ inscrito.validadocorreo }}</td>
                <td>{{ inscrito.tipodocumento }}</td>
                <td>{{ inscrito.documento }}</td>
                <td>{% if inscrito.fechanacimiento %}{{ inscrito.fechanacimiento|date('Y-m-d') }}{% endif %}</td>
                <td>{{ inscrito.pais }}</td>
                <td>{{ inscrito.provinciaotros }}</td>
                <td>{{ inscrito.municipiootros }}</td>
                <td>{{ inscrito.codigopostal }}</td>
                <td>{{ inscrito.direccion }}</td>
                <td>{{ inscrito.lugarparticipacion }}</td>
                <td>{% if inscrito.fechainscritpcion %}{{ inscrito.fechainscritpcion|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ inscrito.ipinscripcion }}</td>
                <td>{{ inscrito.cadenaseg }}</td>
                <td>{{ inscrito.bloqueo }}</td>
                <td>{{ inscrito.razonBloqueo }}</td>
                <td>{{ inscrito.perfil }}</td>
                <td>{% if inscrito.fechaControl %}{{ inscrito.fechaControl|date('Y-m-d') }}{% endif %}</td>
                <td>{{ inscrito.idMunicipio }}</td>
                <td>{{ inscrito.idProvincia }}</td>
                <td>{{ inscrito.idCcaa }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('inscritos_show', { 'id': inscrito.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('inscritos_edit', { 'id': inscrito.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('inscritos_new') }}">Create a new inscrito</a>
        </li>
    </ul>
{% endblock %}
