{% extends "BackendBundle:Layout:adminLayout.html.twig"%}
{% block css %}  
    <link id="bsdp-css" href="{{ asset('assets/bootstrap-datepicker-1.6.4-dist/css/bootstrap-datepicker3.min.css')}}" rel="stylesheet">
    <link id="bsdp-css" href="{{ asset('assets/select2-4.0.5/css/select2.min.css')}}" rel="stylesheet">
{% endblock %} 
{% block body %}

    <a href="{{ path('inscritos_index') }}" class="form-submit btn btn-info">Volver a la lista de inscritos</a>

    <h1>Añadir un inscrito</h1>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            {{ form_start(form) }}
            {{ form_errors(form) }}

            <fieldset>
                <legend>Datos personales</legend>
                <div class="row">
                    <div class="col-md-6 errorFormClass">

                        {{ form_row(form.nombreUsuario) }}
                    </div>
                    <div class="col-md-6 errorFormClass">
                        {{ form_row(form.apellidoUsuario) }}
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-6 errorFormClass">
                        {{ form_row(form.correoUsuario.first) }}

                    </div>
                    <div class="col-md-6 errorFormClass">
                        {{ form_errors(form.correoUsuario) }}
                        {{ form_row(form.correoUsuario.second) }}

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 errorFormClass">
                        {{ form_row(form.tipodocumento) }}
                    </div>
                    <div class="col-md-6 errorFormClass">
                        {{ form_row(form.documento) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 errorFormClass">
                        {{ form_row(form.fechanacimiento) }}
                    </div>
                    <div class="col-md-6 errorFormClass">
                        {{ form_row(form.telefono) }}
                    </div>
                </div>

            </fieldset>

            <fieldset>
                <legend>Datos censales</legend>
                <div class="row">
                    <div class="col-md-6 errorFormClass">
                        {{ form_row(form.pais) }}
                    </div>
                    <div class="col-md-6">

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 errorFormClass">
                        {{ form_row(form.provinciaotros) }}
                    </div>
                    <div class="col-md-6 errorFormClass">
                        {{ form_row(form.municipiootros) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 errorFormClass">

                        {{ form_row(form.provinciaInscritos) }}
                    </div>
                    <div class="col-md-6 errorFormClass">
                        {{ form_row(form.municipioInscritos) }}
                    </div>
                </div>    
                <div class="row">
                    <div class="col-md-6 errorFormClass">

                    </div>
                    <div class="col-md-6 errorFormClass">

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3 errorFormClass">
                        {{ form_row(form.codigopostal) }}
                    </div>
                    <div class="col-md-9 errorFormClass">
                        {{ form_row(form.direccion) }}
                    </div>
                </div>  
            </fieldset>

            {{ form_widget(form) }}
            <input type="submit" value="Añadir inscrito"  class="form-submit btn btn-success" />
            {{ form_end(form) }}
        </div>
        <div class="col-md-2"></div>
    </div>


{% endblock %}

{% block js %}
    <script src="{{ asset('assets/select2-4.0.5/js/select2.js')}}" charset="UTF-8"></script>
    <script src="{{ asset('assets/bootstrap-datepicker-1.6.4-dist/js/bootstrap-datepicker.min.js')}}"></script>
    <script src="{{ asset('assets/bootstrap-datepicker-1.6.4-dist/locales/bootstrap-datepicker.es.min.js')}}" charset="UTF-8"></script>
    <script>
        $(document).ready(function () {
            // configure the bootstrap datepicker
            $('.js-datepicker').datepicker({
                format: 'yyyy-mm-dd'
            });
        });

    </script>


    <script>
        $(document).ready(function () {
            $(".class_select_provincia").change(function () {
                var data = {
                    provincia_id: $(this).val()
                };

                $.ajax({
                    type: 'POST',
                    //url:form.attr( 'action' ),
                    url: URL + '/admin/inscritos/muni-test',
                    data: data,
                    success: function (data) {

                        var $muni_selector = $('.class_select_municipio');

                        $muni_selector.html('<option>Selecciona un municipio</option>');

                        for (var i = 0, total = data.length; i < total; i++) {

                            $muni_selector.append('<option value="' + data[i].idMunicipio + '">' + data[i].nombre + '</option>');
                        }
                    }
                });
            });
        });
    </script>
{% endblock %}