{% extends 'base.html.twig' %}

{% block body %}
    <h1>Inscrito</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ inscrito.id }}</td>
            </tr>
            <tr>
                <th>Nombreusuario</th>
                <td>{{ inscrito.nombreUsuario }}</td>
            </tr>
            <tr>
                <th>Apellidousuario</th>
                <td>{{ inscrito.apellidoUsuario }}</td>
            </tr>
            <tr>
                <th>Telefono</th>
                <td>{{ inscrito.telefono }}</td>
            </tr>
            <tr>
                <th>Correousuario</th>
                <td>{{ inscrito.correoUsuario }}</td>
            </tr>
            <tr>
                <th>Validadocorreo</th>
                <td>{{ inscrito.validadocorreo }}</td>
            </tr>
            <tr>
                <th>Tipodocumento</th>
                <td>{{ inscrito.tipodocumento }}</td>
            </tr>
            <tr>
                <th>Documento</th>
                <td>{{ inscrito.documento }}</td>
            </tr>
            <tr>
                <th>Fechanacimiento</th>
                <td>{% if inscrito.fechanacimiento %}{{ inscrito.fechanacimiento|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Pais</th>
                <td>{{ inscrito.pais }}</td>
            </tr>
            <tr>
                <th>Provinciaotros</th>
                <td>{{ inscrito.provinciaotros }}</td>
            </tr>
            <tr>
                <th>Municipiootros</th>
                <td>{{ inscrito.municipiootros }}</td>
            </tr>
            <tr>
                <th>Codigopostal</th>
                <td>{{ inscrito.codigopostal }}</td>
            </tr>
            <tr>
                <th>Direccion</th>
                <td>{{ inscrito.direccion }}</td>
            </tr>
            <tr>
                <th>Lugarparticipacion</th>
                <td>{{ inscrito.lugarparticipacion }}</td>
            </tr>
            <tr>
                <th>Fechainscritpcion</th>
                <td>{% if inscrito.fechainscritpcion %}{{ inscrito.fechainscritpcion|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Ipinscripcion</th>
                <td>{{ inscrito.ipinscripcion }}</td>
            </tr>
            <tr>
                <th>Cadenaseg</th>
                <td>{{ inscrito.cadenaseg }}</td>
            </tr>
            <tr>
                <th>Bloqueo</th>
                <td>{{ inscrito.bloqueo }}</td>
            </tr>
            <tr>
                <th>Razonbloqueo</th>
                <td>{{ inscrito.razonBloqueo }}</td>
            </tr>
            <tr>
                <th>Perfil</th>
                <td>{{ inscrito.perfil }}</td>
            </tr>
            <tr>
                <th>Fechacontrol</th>
                <td>{% if inscrito.fechaControl %}{{ inscrito.fechaControl|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Idmunicipio</th>
                <td>{{ inscrito.idMunicipio }}</td>
            </tr>
            <tr>
                <th>Idprovincia</th>
                <td>{{ inscrito.idProvincia }}</td>
            </tr>
            <tr>
                <th>Idccaa</th>
                <td>{{ inscrito.idCcaa }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('inscritos_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('inscritos_edit', { 'id': inscrito.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
