{% extends "BackendBundle:Layout:adminLayout.html.twig"%}

{% block body %}
    <a href="{{ path('inscritos_index') }}"  class="btn btn-info btn-xs" >Volver a la lista de Incritos</a>   
    <h1>Inscripción de : "{{ inscrito.nombreUsuario }} {{ inscrito.apellidoUsuario }} "</h1>


    <br/>
    <br/>
    <p></p>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 ">
            <div class ="modal-content">
                <div class="caja_show">

                    <div class="row"> Numero de inscrito : {{ inscrito.id }}</div>

                    <div class="row">
                        <div class="col-md-6"> Nombre de usuario:{{ inscrito.nombreUsuario }} </div>
                        <div class="col-md-6"> Apellido de usuario:{{ inscrito.apellidoUsuario }}</div>
                    </div>

                    <div class="row"> 
                        <div class="col-md-6"> Correo electronico : {{ inscrito.correoUsuario }}</div>  
                        <div class="col-md-6">Tiene validado el correo : {{ inscrito.validadocorreo }}</div>
                    </div>
                    <div class="row"> 
                        <div class="col-md-6">Tipo de documento :{{ inscrito.tipodocumento }}</div>
                        <div class="col-md-6">Documento : {{ inscrito.documento }}</div>
                    </div>
                    <div class="row"> 
                        <div class="col-md-12">Fechanacimiento : {% if inscrito.fechanacimiento %}{{ inscrito.fechanacimiento|date('Y-m-d') }}{% endif %}</div>       
                    </div>
                    <div class="row"><br/><p> Datos de localizacion </p></div>

                    <div class="row"> Pais : {{ inscrito.pais }}</div>
                    {% if  inscrito.pais =="ES" %}
                        <div class="row"> 
                            <div class="col-md-6">Provincia : {{ inscrito.idProvincia }} - {{inscrito.provinciaInscritos.provincia}}</div>
                            <div class="col-md-6"> CCAA : {{ inscrito.idCcaa }} - {{inscrito.ccaaInscritos.ccaa}} </div>
                        </div>
                        <div class="row"> 
                            <div class="col-md-6"> Municipio : {{ inscrito.idMunicipio }} - {{inscrito.municipioInscritos.nombre}}</div>
                        </div>

                    {% else %} 
                        <div class="row"> 
                            <div class="col-md-6"> Provincia / Estado : {{ inscrito.provinciaotros }}</div>
                            <div class="col-md-6"> Municipio  :{{ inscrito.municipiootros }}</div>
                        </div>

                    {% endif %}
                    <div class="row"> 
                        <div class="col-md-12">Telefono: {{ inscrito.telefono }}</div>
                    </div>
                    <div class="row"> 
                        <div class="col-md-6">Direccion : {{ inscrito.direccion }}</div>
                        <div class="col-md-6"> Codigopostal : {{ inscrito.codigopostal }}</div>
                    </div>

                    <div class="row"><div class="col-md-12"> Lugarparticipacion : {{ inscrito.lugarparticipacion }}</div></div>
                    <div class="row"> 
                        <div class="col-md-6"> Fechainscritpcion : {% if inscrito.fechainscritpcion %}{{ inscrito.fechainscritpcion|date('Y-m-d H:i:s') }}{% endif %}</div>
                        <div class="col-md-6"> Ip inscripcion : {{ inscrito.ipinscripcion }}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">Esta Bloqueado : {{ inscrito.bloqueo }}</div>
                        <div class="col-md-8"> Razón bloqueo {{ inscrito.razonBloqueo }}</div>
                    </div>
                    <div class="row"> Perfil : {{ inscrito.perfil }} </div>
                    <div class="row"> Fechacontrol : {% if inscrito.fechaControl %}{{ inscrito.fechaControl|date('Y-m-d') }}{% endif %}
                    </div>

                    <br/>
                    <br/>


                    {% if (app.user.role=="ROLE_MEDIUN_ADMIN" or app.user.role =="ROLE_SUPER_ADMIN"  )%}
                        <div class="row">  
                            <div class="col-md-3">
                                <a href="{{ path('inscritos_edit', { 'id': inscrito.id }) }}" class="btn btn-success btn-xs btn-block" >Editar</a>

                                {{ form_start(delete_form) }}
                                <input type="submit"  value="Borrar"  class="btn btn-danger btn-xs btn-block" onclick="return confirm('¿Esta Ud seguro de quere borrar este registro?')">
                                {{ form_end(delete_form) }}
                            </div>

                        </div>
                        <br/>
                    {% endif %}

                    {% set puedeValidar=null %}
                    {% for validado in inscrito.validaInscritos %}
                        {%   if app.user.id == validado.users.id %}
                            {% set puedeValidar= 'NO' %}                 
                        {%endif%}
                    {%endfor%}

                    {% if puedeValidar==null %}
                        <a href="{{ path('validainscritos_new',{'idInscrito':inscrito.id}) }}"  class="btn btn-primary  btn-block" >Validar Incrito</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>    
                <br/><br/>
    <div class="caja_show">
        <h2>Acciones realizadas</h2> 
        <br/>
        <a href="{{ path('inscritosacciones_new',{'idInscrito':inscrito.id}) }}"  class="btn btn-success btn-xs"> Añadir accion </a>
        <br/>
        <table  class="table table-hover">
            <thead>
                <tr>
                    <td> Fecha </td>
                    <td>Status</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                {% for accion in inscrito.inscritosAcciones %}

                    <tr>        
                        <td> {% if accion.fecha%}{{ accion.fecha|date('Y-m-d') }}{% endif %}</td>
                        <td>{{ accion.acciones}}</td>
                        <td>{{ accion.accion|slice(0, 150) ~ '...'| nl2br }} </td>
                        <td>
                            {# accion.datos|length > 250 ? accion.datos|slice(0, 250)|nl2br ~ '...' : accion.datos|nl2br  #}
                            {% if accion.datos|length > 250 %}
                            {{ accion.datos|slice(0, 250)|nl2br }} (...) </td>
{% else %}
{{ accion.datos|nl2br  }}
{% endif %}
                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('inscritosacciones_show', { 'id': accion.id }) }}" class="btn btn-info btn-xs btn-block">Ver</a>
                                </li>
                                <li>
                                    <a href="{{ path('inscritosacciones_edit', { 'id': accion.id }) }}" class="btn btn-success btn-xs btn-block">Editar</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <p></p>

<hr/>
        <h2>Archivos asociados</h2> 
        <table  class="table table-hover">
            <thead>
                <tr>
                    <td> Fecha </td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                {% for datImages in inscrito.imagenes %}

                    <tr>        
                        <td> {% if datImages.fecha%}{{ datImages.fecha|date('Y-m-d') }}{% endif %}</td>
                        <td><img  src="{{ asset("../"~security_saved_file~""~datImages.images) }}" width="300" /> {{ datImages.images}} </td>

                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <p></p>
    </div>
{% endblock %}
